@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* TABELA DE PARÂMETROS DECLARADA GLOBAL */
:root {
    --principal: #b66700;
    --hover: #a55d00;
    --secundaria: #f3daba;
    --inicio: #f3f3f3;
    --bordas: #dddddd;
    --texto-principal: #000000;
    --texto-secundario: #4b4b4b;
    --texto-tertiario: #8b8b8b;
    --texto-cabecalho: #111111;
    --texto-placeholder: #727272;
    --texto-rodape: #313131;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    scrollbar-width: 10px;
    scrollbar-color: #bdbdbd transparent;
}

*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background: #ececec;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 20px;
    border: 1px solid #ececec;
}

@keyframes carregar {
    0%{visibility: visible; width: 100vw; height: 100vh;}
    100%{visibility: hidden; width: 100vw; height: 100vh;}
}

@keyframes pulsar { 
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

@keyframes deslizar {
    0% {left: -100%;}
    100% {left: 0%;}
}

@keyframes voltar {
    0% {left: 0%;}
    100% {left: -100%;}
}

@keyframes modal {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes modalmob {
    0% {bottom: -100%;}
    100% {bottom: 0;}
}

html, input, select, button, fieldset, form, textarea{
    font-family: 'Kulim Park', system-ui, -apple-system, BlinkMacSystemFont, Arial, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica', sans-serif;
    border: none;
    background: none;
}

input, select, textarea {
    color: var(--texto-principal);
    font-size: 11.5pt;
    font-weight: 400;
}

input::placeholder {
    color: var(--texto-placeholder);
    font-weight: 300;
}

input:disabled {
    background-color: #f5f5f5;
}

button, input[type=submit] {
    cursor: pointer;
	outline: none;
}

body {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 70px;
}

html, body, a, p, h1, h2, h3, h4, h5, h6, ul, li {
    color: var(--texto-principal);
    font-weight: 400;
}

h1 {
    font-weight: 800;
    letter-spacing: -0.25px;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
    letter-spacing: -0.15px;
}

a, p {
    font-size: 13pt;
}

a {
    text-decoration: none;
}

::selection {
    background-color: var(--principal);
    color: #FFF;
}

input:active, input:focus, select:active, select:focus, textarea:active, textarea:focus {
    border: 1px solid var(--principal);
    outline: none;
    transition: border ease 0.1s;
}

textarea {
    resize: none;
}

header {
    width: 100%;
    height: 100px;
    background-color: var(--inicio);
    position: sticky;
    top: 0;
    z-index: 1;
}

.carregamento {
    width: 0;
    height: 0;
    background-color: var(--principal);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    visibility: hidden;
    animation: carregar 0.7s;
    will-change: opacity;
}

.carregamento svg {
    width: 100px;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 40vh auto;
    animation: pulsar 0.6s ease infinite;
    will-change: transform;
}

.sombreado {
    box-shadow: 0px 2px 5px #92929250;
}

.encaixado {
    box-shadow: none;
}

.container {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.logotipo {
    float: left;
    font-family: 'Pacifico', cursive;
    margin-right: 30px;
}

.logotipo a {
    font-size: 30pt;
    line-height: 100px;
    color: var(--principal);
    transition: color ease 0.2s;
}

.logotipo a:hover {
    color: var(--hover);
}

.navegacao {
    width: auto;
    height: auto;
    overflow: hidden;
}

.navegacao a {
    color: var(--texto-cabecalho);
    font-size: 12pt;
}

.navegacao ul {
    list-style: none;
    line-height: 100px;
}

.navegacao ul li {
    margin: 0 20px;
}

.menu, .menu li{
    float: left;
}

.botoes, .botoes li {
    float: right;
}

.botoes .principal a{
    background-color: var(--principal);
    color: #FFF;
    border-radius: 7px;
    font-weight: 600;
    padding: 14px 25px;
    transition: background-color ease 0.2s;
}

.botoes .principal a:hover {
    background-color: var(--hover);
}

.botoes .secundario a{
    font-weight: 600;
    color: var(--principal);
}

.hamburger {
    display: none;
    width: 34px;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 33px 15px 33px 0;
    cursor: pointer;
}

.hamburger svg {
    float: left;
}

nav, footer {
    user-select: none;
}

.mobile {
    display: block;
    width: 100%;
    height: fit-content;
    margin-bottom: 35px;
}

.navmobile {
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    max-width: 460px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 15px #00000036;
    overflow: auto;
    animation: deslizar 0.2s;
    will-change: left;
}

.navmobile ul li {
    line-height: 55px;
    border-bottom: 1px solid var(--bordas);
}

.navmobile ul li a {
    font-weight: 600;
    font-size: 11pt;
    display: block;
    width: 100%;
}

.blur {
    filter: blur(3.5px);
    transition: filter 0.2s;
}

.block {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.mostrar {
    display: inline;
}

.mostrarblock {
    display: block;
}

.navegacao .esconder {
    display: none;
}

.navegacao .exibir {
    display: block;
    padding: 20px;
    background-color: var(--principal);
    color: #FFF;
    font-weight: 800;
}

.bmobile {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.bmobile .principal, .bmobile .secundario {
    margin-bottom: 15px;
    border: none;
    display: block;
}

.bmobile .principal a, .bmobile .secundario a {
    border-radius: 7px;
    font-weight: 600;
    width: 100%;
    padding: 0px 25px;
    line-height: 50px;
}

.bmobile .principal a {
    background-color: var(--principal);
    border: 1px solid var(--principal);
    color: #FFF;
}

.bmobile .secundario a {
    border: 1px solid var(--principal);
    color: var(--texto-cabecalho);
}

.inicio {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 0 30px 0;
    background-color: var(--inicio);
}

.inicio h1 {
    text-align: center;
    font-size: 30pt;
    line-height: 1.7;
    font-weight: 600;
}

.inicio p {
    text-align: center;
    font-size: 13pt;
    color: var(--texto-secundario);
}

.busca {
    text-align: center;
    margin-top: 50px;
}

.ginput {
    border: 1px solid #d4d4d4;
    background-color: #FFF;
    width: 60%;
    padding: 0 25px;
    height: 55px;
    border-radius: 7px;
    font-size: 12pt;
    color: var(--texto-principal);
}

.ginput::placeholder {
    color: #727272;
}

.gbotao {
    background-color: var(--principal);
    border: 1px solid var(--principal);
    border-radius: 7px;
    font-size: 12pt;
    font-weight: 600;
    color: #FFF;
    padding: 0 25px;
    width: 13%;
    height: 55px;
    transition: background-color ease 0.2s;
}

.gbotao:hover {
    background-color: var(--hover);
}

.pesquisa {
    margin: 50px 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.cards {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.destaques {
    width: 33.333%;
    height: auto;
    overflow: hidden;
    float: left;
}

.destaquezinho {
    width: 90%;
    height: 230px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 1px 10px #cecece;
    margin: auto;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 45%;
    transition: opacity ease 0.2s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.destaquezinho:hover {
    opacity: 0.90;
}

.destaquezinho h2 {
    text-align: left;
    font-size: 26pt;
    font-weight: 700;
    color: #FFF;
}

.destaquezinho p {
    background-color: #00000057;
    padding: 8px 18px;
    border-radius: 7px;
    width: fit-content;
    color: #FFF;
    font-size: 11pt;
    float: left;
}

.des1 {
    background-color: #b66700;
    background-image: url('images/racao.png');
}

.des2 {
    background-color: #248138;
    background-image: url('images/sacolas.png');
}

.des3 {
    background-color: #a1351a;
    background-image: url('images/sale.png');
}

.lojas {
    margin: 50px auto;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    scrollbar-width: 0;
}

.lojas::-webkit-scrollbar {
    display: none;
}

.lojas h2 {
    font-size: 18pt;
    font-weight: 600;
    margin-left: 5px;
    position: absolute;
}

.lojas .container {
    padding-bottom: 5px;
}

.lojinhas {
    width: calc(20% - 10px);
    height: auto;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid var(--bordas);
    float: left;
    margin: 0 5px;
    padding: 15px 0;
    transition: box-shadow ease 0.2s;
    user-select: none;
}

.lojinhas:hover {
    box-shadow: 0px 0px 7px #cdcdcd;;
}

.lojinhas img {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
}

.lojinhas .descricao {
    margin-top: 10px;
    text-align: center;
}

.lojinhas .descricao h4 {
    font-size: 13pt;
    font-weight: 600;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.lojinhas .descricao p {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    font-size: 11pt;
}

.cadastros {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.cadastros .container {
    border-top: 1px solid var(--bordas);
    padding: 70px 0 30px 0;
}

.miolo {
    width: calc(50% - 100px);
    height: auto;
    overflow: hidden;
    float: left;
    margin: 0 50px;
    background-image: url('images/fundo-cadastros.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.miolinho {
    width: 50%;
    height: auto;
    min-height: 350px;
    overflow: hidden;
    float: left;
}

.miolinho h2 {
    font-size: 26pt;
    font-weight: 700;
}

.miolinho p {
    margin: 30px 0;
}

.miolinho a {
    text-decoration: none;
    background-color: var(--principal);
    color: #FFF;
    font-weight: 600;
    padding: 14px 25px;
    border-radius: 7px;
    display: block;
    width: fit-content;
    transition: background-color ease 0.2s;
}

.miolinho a:hover {
    background-color: var(--hover);
}

.miolinho img {
    width: 90%;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

footer .copyright {
    float: left;
    line-height: 70px;
}

footer p, footer a {
    font-size: 10.5pt;
    color: var(--texto-rodape);
}

footer .links {
    width: fit-content;
    height: auto;
    overflow: hidden;
    float: right;
}

footer .links a {
    text-decoration: none;
    font-weight: 400;
}

footer .links ul {
    list-style: none;
    margin: 0;
}

footer .links ul li{
    float: right;
    line-height: 70px;
    margin: 0 15px;
}

footer .container {
    border-top: 1px solid var(--bordas);
}

dialog {
	border: 1px solid #c7c7c7;
	margin: auto;
    padding: 25px;
    background-color: #FFF;
	border-radius: 15px;
	width: 520px;
	outline: none;
	box-shadow: 0 0 20px #00000025;
    overflow: hidden;
    animation: modal 0.3s;
    will-change: opacity;
    scrollbar-width: 0;
    user-select: none;
}

dialog .conteudo {
    width: 100%!important;
    height: auto!important;
    overflow: hidden!important;
    padding: 0!important;
    margin: 0!important;
}

dialog .conteudo p {
    font-size: 11pt;
}

dialog::backdrop {
	background-color: #00000094;
}

dialog .cabeca {
	width: 100%;
    height: auto;
    overflow: hidden;
	margin-bottom: 20px;
}

dialog .cabeca h1 {
	float: left;
	font-size: 18pt;
	font-weight: 600;
}

dialog .cabeca .mdfechar {
	float: right;
}

dialog::-webkit-scrollbar {
    display: none;
}

dialog .obs {
    font-size: 10pt!important;
    color: var(--texto-tertiario);
    font-weight: 400;
    margin: 20px 0;
}

.txti {
    border: 1px solid var(--bordas);
    background-color: #FFF;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin: 10px auto 15px auto;
    border-radius: 7px;
    display: block;
    color: var(--texto-principal);
}

.txtarea {
    border: 1px solid var(--bordas);
    background-color: #FFF;
    width: 100%;
    height: auto;
    padding: 15px 20px;
    margin: 10px auto;
    border-radius: 7px;
    display: block;
    color: var(--texto-principal);
}

.selections {
    padding: 10px 15px;
    background: url('images/down.svg') #FFF no-repeat center right;
    background-position-x: calc(100% - 5px);
    appearance: none;
    cursor: pointer;
    padding: 0 20px!important;
}

.bta {
    border: 1px solid var(--principal);
    background-color: var(--principal);
    color: #FFFFFF;
    font-weight: 700;
    width: 100%;
    line-height: 46px;
    padding: 0 20px;
    margin-top: 15px;
    border-radius: 7px;
    font-size: 12pt;
    display: block;
    text-align: center;
    transition: background-color ease 0.2s;
}

.bta:hover {
    background-color: var(--hover);
    border: 1px solid var(--hover);
}

.btb {
    border: 1px solid var(--principal);
    background-color: #FFFFFF;
    color: var(--principal);
    font-weight: 600;
    width: 100%;
    line-height: 46px;
    padding: 0 20px;
    margin-top: 15px;
    border-radius: 7px;
    font-size: 12pt;
    display: block;
    text-align: center;
    transition: background-color ease 0.2s;
}

.btb:hover {
    border: 1px solid var(--hover);
    background-color: var(--hover);
    color: #FFF;
}

.sm {
    margin: 0!important;
}

.btl {
    font-weight: 600;
    color: var(--principal);
    font-size: 13pt;
}

.lbtcontent {
    width: fit-content;
    float: left;
}

.rbtcontent {
    width: fit-content;
    float: right;
    margin-left: 10px;
}

.btl:hover {
    color: var(--hover);
}

.acessos {
    padding-bottom: 0;
    user-select: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
}

.day {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: auto;
    overflow: hidden;
}
  
.switch input, .day input { 
   opacity: 0;
   width: 0;
   height: 0;
}
  
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   transition: 0.3s;
}

.click {
    padding: 5px;
    border-radius: 100%;
    border: 1px solid var(--bordas);
    display: block;
    width: 40px;
    height: 40px;
    font-size: 10pt;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.click:hover {
    background-color: #e9e9e9;
}
  
.slider:before {
   position: absolute;
   content: "";
   height: 22px;
   width: 20px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
  
input:checked + .slider {
   background-color: var(--principal);
}

input:checked + .click {
    background-color: var(--principal);
    border: 1px solid var(--principal);
    font-weight: 600;
    color: #FFF;
}
  
input:focus + .slider {
   box-shadow: 0 0 1px var(--principal);
}
  
input:checked + .slider:before {
   transform: translateX(26px);
}
  
.slider.round {
   border-radius: 34px;
}
  
.slider.round:before {
   border-radius: 50%;
}

.lbs {
    font-size: 12pt;
    font-weight: 600;
    color: var(--texto-secundario);
    margin: 10px 0;
    display: block;
}

.box {
    width: auto;
    height: auto;
    overflow: hidden;
}

.fit {
    width: fit-content;
}

.checks {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    top: -3px;
}

.checks input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #dfdfdf;
    border-radius: 3px;
}

.checks:hover input + .checkmark {
    background-color: #cacaca;
}

.checks input:checked + .checkmark {
    background-color: var(--principal);
}

.checks .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
  
.checks input:checked + .checkmark:after {
    display: block;
}

.mt {
    margin-top: 30px;
}

.graficos {
    width: 100%!important;
    height: auto!important;
    overflow: hidden!important;
}

/* O JUMP DO GATO NO RESPONSIVO */
@media screen and (max-width: 1120px) {
    .container {
        max-width: none;
        width: calc(100% - 40px);
        margin: 0 20px;
    }

    .miolinho h2, .destaquezinho h2{
        font-size: 20pt;
    }

    .miolo {
        width: calc(50% - 20px);
        margin: 0 10px;
    }
}

@media screen and (max-width: 960px) {
    .cadastros .container {
        padding: 50px 0 30px 0;
    }

    .miolo {
        width: calc(100% - 20px);
        background-image: none;
    }

    .mprimario {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid var(--bordas);
    }

    .miolinho {
        height: auto;
        overflow: hidden;
        min-height: auto;
        padding-bottom: 20px;
    }

    .miolinho img {
        width: 250px;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .botoes .principal {
        margin: 0;
    }
    
    .logotipo a {
        font-size: 25pt;
    }

    .destaques {
        width: 50%;
        margin: 15px auto;
    }

    .destaquezinho {
        width: calc(100% - 25px);
        height: 220px;
    }

    .cards .dst {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .cards .des3 {
        width: calc(100% - 25px);
        background-size: 22%;
    }
    
    .ginput {
        width: calc(100% - 25px);
        margin-bottom: 15px;
    }

    .gbotao {
        width: calc(100% - 25px);
    }

    .lojas .container {
        width: 1100px;
    }

    dialog {
        width: 100%;
        border-radius: 20px 20px 0 0;
        margin: auto 0 0 0;
        overflow: scroll;
        scrollbar-width: 0;
        animation: modalmob 0.3s;
        will-change: bottom;
        max-width: none;
        border: none;
    }

    dialog .cabeca h1 {
        font-size: 16pt;
    }

    dialog .cabeca .mdfechar svg {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 650px) {
    .inicio h1 {
        font-size: 25pt;
    }

    .destaques {
        width: 100%;
    }

    .destaquezinho, .cards .des3 {
        background-size: 30%;
        width: 100%;
        height: 200px;
    }

    .ginput {
        width: 100%;
    }
    
    .gbotao {
        width: 100%;
    }

    .secundario {
        display: none;
    }

    p, a {
        font-size: 11pt;
    }

    .miolinho {
        width: 100%;
    }

    .miolinho img {
        width: 40%;
        display: block;
        margin: auto;
    }

    .miolinho h2, .miolinho p{
        text-align: center;
    }

    .miolinho a {
        margin: auto;
    }

    .miolo {
        background-image: url(images/fundo-cadastros.png);
    }

    .mprimario {
        border: none;
    }

    footer .links ul li {
        margin: 0 8px;
    }
    
    .carregamento svg {
        width: 70px;
    }
}

@media screen and (max-width: 510px) {
    .pesquisa h1 {
        font-size: 23pt;
    }

    .pesquisa p {
        max-width: 75%;
        margin: auto;
    }

    .destaquezinho, .cards .des3 {
        background-size: 35%;
    }

    footer .copyright {
        float: none;
        text-align: center;
    }

    footer .copyright p {
        line-height: normal;
        margin-bottom: 8px;
    }

    footer .links {
        float: none;
        margin: auto;
    }

    footer .links ul li {
        line-height: 15px;
        margin: 0 10px;
    }

    footer .container {
        padding: 20px 0;
    }

    .miolinho img {
        width: 50%;
    }

    .miolo {
        background-size: 110%;
    }

    footer .dash {
        padding: 20px 0;
    }
}

@media screen and (max-width: 340px) {
    .botoes .principal {
        display: none;
    }

    p, a {
        font-size: 10pt;
    }

    .miolinho h2, .destaquezinho h2 {
        font-size: 18pt;
    }

    .destaquezinho, .cards .des3 {
        height: 160px;
    }

    footer p, footer a {
        font-size: 9.5pt;
    }

    body {
        min-width: 320px;
    }
}

@media print {
    header, aside, footer {
        display: none;
    }
}