@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #AD6300;
    font-family: 'Inter', sans-serif;
}

p {
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: #FBFFA5;
    box-shadow: 1px 1px 1px #000;
    box-shadow: 0px 5px 16px #6d3e00;
}

.container {
    max-width: 1000px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
}   

.menu {
    float: right;
    list-style: none;
    margin: 0;

}

.logotipo {
    float: left;
}

.logotipo p {
    margin: 0;
    line-height: 70px;
    font-weight: 800;
    font-size: 16pt;
    color:#AD6300;
}

.menu li {
    float: left;
    margin: 0 15px;
    line-height: 70px;
}

.menu li a {
    text-decoration: none;
    color: #AD6300;
    margin: 0;
}

.esquerda {
    width: 50%;
    height: calc(100vh - 70px);
    float: left;
}

.direita {
    width: 50%;
    height: calc(100vh - 70px);
    float: right;
}

.principal {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.container-login {
    width: 85%;
    height: 80%;
    background-color: #FBFFA5;
    margin-top: 10%;
    border-radius: 15px;
    float: right;
}

.container-login h1 {
    color: #AD6300;
    text-align: center;
    margin-top: 80px;
}

.entrada {
    width: 80%;
    height: 50px;
    background-color: #c1c46c;
    border-radius: 200px;
    border: none;
    margin: 5px 0;
    
}

.login {
    text-align: center;
    margin-top: 50px;

}

.senha {
    text-align: center;

}

.senha a{
    text-decoration: none;
    color: #AD6300;
    font-size: 11pt;
}

.entrada::placeholder {
    color: #FBFFA5;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
}

.btentrada {
    background-color: #AD6300;
    border: none;
    width: 80%;
    height: 50px;
    color: #FBFFA5;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
    border-radius: 200px;
    margin: 20px 0;
}

.esquerda h1 {
    margin-top: 25%;
    color: #FFF;
    font-size: 60pt;
    font-weight: 400;
    text-align: center;

}

.esquerda p {
    font-size: 18pt;
    font-weight: 400;
    text-align: center;
    color: #FBFFA5;
}

.sobre {
    width: 100%;
    height: 100vh;
    background-color: #FFF;
}