header {
    width: 100%;
    height: 75px;
    background-color: #FFF;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid var(--bordas);
}

.heads {
   font-size: 20pt;
   font-weight: 800; 
   color: var(--texto-principal);
}

.subheads {
    padding: 30px 0 15px 0;
    color: var(--texto-principal);
    font-weight: 600;
    font-size: 15pt;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.logotipo {
    float: left;
    font-family: 'Pacifico', cursive;
    margin-right: 20px;
}

.logotipo a {
    font-size: 20pt;
    line-height: 75px;
    color: var(--principal);
    transition: color ease 0.2s;
}

.navbusca {
    float: left;
    width: fit-content;
    height: auto;
    overflow: hidden;
}

.navbusca ul {
    list-style: none;
}

.navbusca ul li {
    float: left;
    line-height: 75px;
    margin: 0 10px;
}

.navbusca ul li a {
    font-size: 11pt;
    color: var(--texto-cabecalho);
}

.navbusca ul li a:hover {
    color: var(--hover);
}

.buscar {
    width: auto;
    float: left;
    height: 75px;
    overflow: hidden;
    margin: 0;
    line-height: 75px;
    margin: 0 20px;
    min-width: 27%;
}

.buscar input {
    border: none;
    background-color: var(--inicio);
    padding: 15px;
    border-radius: 10px;
    font-size: 11pt;
    width: 100%;
    transition: background-color 0.2s;
}

.buscar input:active, .buscar input:focus {
    background-color: #e7e7e7;
}

.buttons {
    float: right;
    display: block;
    list-style: none;
}

.buttons li {
    float: right;
    margin: 25px 10px;
}

.buttons svg {
    width: 25px;
    height: 25px;
}

.buttons svg path {
    fill: var(--principal);
}

.buttons button {
    background: none;
    border:none;
}

.buttons li::after {
    display: none;
    content: "";
    position: absolute;
    background-color: rgb(66, 66, 66);
    padding: 8px 12px;
    height: fit-content;
    overflow: hidden;
    line-height: 1;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 10pt;
    top: 75px;
}

.buttons li:nth-child(1):hover::after {
    content: "Sair";
    display: block;
}

.buttons li:nth-child(2):hover::after {
    content: "Carrinho";
    display: block;
}

.buttons li:nth-child(3):hover::after {
    content: "Pedidos";
    display: block;
}

.buttons li:nth-child(4):hover::after {
    content: "Conta";
    display: block;
}

section {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 40px auto;
}

.promocoes {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 15px 0;
}

.promocao {
    background-color: var(--inicio);
    width: calc(25% - 20px);
    height: 150px;
    margin: 0 10px;
    float: left;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.promo1 {
    background-image: url('../images/promocoes/promocao1.png');
}

.promo2 {
    background-image: url('');
}

.promo3 {
    background-image: url('');
}

.promo4 {
    background-image: url('');
}

.lojas {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 15px 0;
    display: block;
}

.loja {
    width: calc(33.333% - 10px);
    height: auto;
    overflow: hidden;
    padding: 15px;
    float: left;
    border-radius: 10px;
    margin: 5px;
    transition: box-shadow ease 0.2s;
}

.loja img {
    width: 95px;
    height: 95px;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
    object-fit: cover;
}

.loja h4 {
    font-size: 15pt;
    color: var(--texto-principal);
    margin: 12px 0px 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loja p{
    color: var(--texto-secundario);
    font-size: 11pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.loja:hover {
    box-shadow: 0px 0px 7px #cdcdcd;
}

.vertudo {
    width: calc(100% - 20px);
    margin: auto;
    text-align: center;
    padding: 14px 25px;
    border: 1px solid var(--principal);
    color: var(--principal);
    display: block;
    border-radius: 6px;
    font-weight: 600;
    transition: background-color ease 0.2s;
}

.vertudo:hover {
    background-color: var(--principal);
    color: #FFF;
}

.produtos {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 15px 0;
    display: block;
}

.produto {
    width: calc(33.333% - 20px);
    height: auto;
    overflow: hidden;
    float: left;
    border-radius: 13px;
    margin: 10px;
    transition: box-shadow ease 0.2s;
    border: 1px solid var(--bordas);
    cursor: pointer;
}

.produto:hover {
    box-shadow: 0px 0px 7px #cdcdcd;
}

.produtos .imagem {
    border-radius: 10px 10px 0 0;
    padding: 20px 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.produto .imagem img {
    width: auto;
    max-width: 160px;
    height: 150px;
    object-fit: contain;
    margin: auto;
    display: block;
}

.descritivo {
    padding: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.descritivo h4 {
    font-size: 14pt;
    color: var(--texto-principal);
    margin-bottom: 20px;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 42px;
}

.descricao {
    font-size: 11pt;
    color: var(--texto-secundario);
    font-weight: 400;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 50px;
}

.local {
    font-size: 11pt;
    color: var(--texto-secundario);
    font-weight: 400;
}

.preco {
    font-size: 18pt;
    color: var(--texto-principal);
    font-weight: 800;
}

.precopromo {
    font-size: 13pt;
    margin: 8px 0 0 0;
    color: var(--texto-tertiario);
    font-weight: 600;
    text-decoration: line-through;
}

.peso {
    font-size: 10pt;
    color: #FFF;
    font-weight: 600;
    margin-bottom: 20px;
    background-color: var(--principal);
    padding: 5px 15px;
    border-radius: 50px;
    width: fit-content;
    display: block;
}

footer {
    border-top: 1px solid var(--bordas);
}

footer .container {
    border: none;
}

.cadastros {
    margin: 50px auto;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    scrollbar-width: 0;
}

.promocional {
    margin: 50px auto;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: 0;
}

.promocional::-webkit-scrollbar {
    display: none;
}

.promocional h1 {
    position: absolute;
}

.mobnavs {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: none;
    position: fixed;
    margin: 0;
    background-color: #fff;
    bottom: 0;
    z-index: 0;
    box-shadow: #cdcdcd 0px 0px 10px;
}

.mobnav {
    width: 25%;
    height: auto;
    overflow: hidden;
    float: left;
    padding: 10px;
}

.mobnav svg {
    width: 25px;
    height: 28px;
    margin: auto;
    display: block;
}

.mobnav svg path {
    fill: var(--texto-secundario);
}

.mobnav p {
    text-align: center;
    margin: 3px;
    font-size: 10pt;
    font-weight: 600;
}

.bt .mobnav {
    width: 100%;
}

.mobnavs button {
    width: 25%;
    height: auto;
    overflow: hidden;
    float: left;
}

.conta, .pedidos {
    display: block;
}

.carrinho, .classificados, .sobreloja, .chat {
    width: 100%;
    height: calc(100vh - 75px);
    background-color: #faf9f9;
    position: fixed;
    right: -110%;
    top: 75px;
    max-width: 450px;
    box-shadow: 0px 0px 15px #00000036;
    z-index: 1;
    transition: ease all 0.3s;
    overflow: auto;  
    margin: 0;
}

.carrinho {
    scrollbar-width: 0;
}

.carrinho::-webkit-scrollbar {
    display: none;
}

.poscarrinho, .posloja, .posclassificacao, .poschat {
    right: 0;
}

.carrinho .fechar, .classificados .fechar, .sobreloja .fechar, .chat .fechar{
    width: 100%;
    height: 60px;
    background-color: #f0f0f0;
    padding: 15px;
}

.carrinho .fechar span, .classificados .fechar span, .sobreloja .fechar span, .chat .fechar span {
    float: right;
    line-height: 30px;
    font-weight: 600;
    color: var(--texto-secundario);
}

.carrinho .fechar button, .classificados .fechar button, .sobreloja .fechar button, .chat .fechar button {
    float: left;
    border: none;
    background: none;
}

.carrinho .fechar svg, .classificados .fechar svg, .sobreloja .fechar svg, .chat .fechar svg {
    width: 25px;
    height: 25px;
    margin-top: 3px;
}

.carrinho .fechar svg path, .classificados .fechar svg path, .sobreloja .fechar svg path, .chat .fechar svg path {
    fill: var(--texto-secundario);
}

.content, .contents {
    padding: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.carrinho .content {
    margin-bottom: 125px;
}

.content h4, .contents h4 {
    font-weight: 400;
    color: var(--texto-secundario);
    font-size: 11pt;
}

.content .titulo, .contents .titulo {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 15px 0 20px 0;
    border-bottom: 1px solid var(--bordas);
}

.content .titulo h3, .contents .titulo h3 {
    font-weight: 600;
    color: var(--texto-principal);
    font-size: 15pt;
    float: left;
}

.content .titulo a, .contents .titulo a {
    float: right;
    font-size: 13pt;
    color: var(--principal);
}

.content .item {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 15px 0 20px 0;
    border-bottom: 1px solid var(--bordas);
}

.content .item .cproduto {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.content .item .cproduto p {
    font-size: 12pt;
    float: left;
    width: 65%;
}

.content .item .cproduto h3 {
    font-weight: 600;
    color: var(--texto-principal);
    font-size: 13pt;
    float: right;
    margin: 7px 0;
}

.content .item .acoes {
    font-size: 11pt;
    font-weight: 600;
    color: var(--texto-tertiario);
    border: none;
    background: none;
    float: left;
    margin-top: 10px;
    margin-right: 30px;
}

.subtotais span {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}

.subtotais span p {
    font-size: 11pt;
    line-height: 1.3;
}

.totais, .digitador {
    width: 100%;
    max-width: 450px;
    height: auto;
    overflow: hidden;
    background-color: #f7f7f7;
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: -110%;
    padding: 20px;
    transition: ease all 0.3s;
}

.postotal, .posdigitador {
    right: 0%;
}

.totais span {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.totais h3 {
    font-weight: 800;
}

.tcheckout {
    position: inherit;
    background-color: transparent;
    padding: 0 20px;
}

.lgcheckout {
    text-align: center;
    float: none;
}

.checkout .esquerda {
    width: 50%;
    height: auto;
    overflow: hidden;
    float: left;
}

.checkout .direita {
    width: 50%;
    height: auto;
    overflow: hidden;
    float: right;
}

.checkcart {
    width: 80%;
    height: auto;
    overflow: hidden;
    border: 1px solid var(--bordas);
    border-radius: 12px;
    padding: 20px;
    float: right;
}

.checkcart .content {
    margin-bottom: 0;
}

.dados {
    width: 85%;
    height: auto;
    overflow: hidden;
}

.dados h1 {
    font-size: 20pt;
    font-weight: 800;
    color: var(--texto-principal);
}

.dados h3 {
    margin: 15px 0;
    font-size: 12pt;
    font-weight: 400;
    color: var(--texto-secundario);
}

.endereco, .logistica {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 15px 0;
}

.endereco img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    float: left;
    margin-right: 15px;
}

.endereco .local {
    float: left;
    margin-top: 3px;
    width: fit-content;
}

.endereco .local h4 {
    font-size: 14pt;
    font-weight: 600;
}

.endereco .local h5 {
    font-size: 12pt;
    font-weight: 400;
}

.endereco .acao {
    float: right;
    margin-top: 3px;
    width: fit-content;
    color: var(--principal);
    font-size: 13pt;
}

.logistica {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.logistica .tipoent {
    width: 40%;
    height: auto;
    overflow: hidden;
    border: 1px solid var(--bordas);
    border-radius: 10px;
    float: left;
    margin: 1px 15px 1px 1px;
    padding: 10px;
    cursor: pointer;
}

.logistica .select, .pagamentos .select {
    border: 1px solid var(--principal);
    outline: 1px solid var(--principal);
}

.logistica .tipoent .p1 {
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 15px;
}

.logistica .tipoent .p2, .logistica .tipoent .p3 {
    font-size: 10.5pt;
}

.logistica .tipoent .p3 {
    color: var(--principal);
    font-weight: 800;
}

.pagamentos {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.pagto {
    width: calc(100% - 2px);
    height: auto;
    overflow: hidden;
    border: 1px solid var(--bordas);
    border-radius: 10px;
    margin: 1px 1px 17px 1px;
    padding: 20px;
    cursor:pointer;
}

.pagto .p1 {
    font-size: 12pt;
    font-weight: 600;
}

.pagto .p2 {
    font-size: 11pt;
    font-weight: 400;
    color: var(--texto-secundario);
}

.pagto svg {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 15px;
}

.fantasma {
    display: none;
}

.mdproduto {
    width: 70%;
    max-width: 1100px;
    height: 500px;
    min-height: 480px;
    user-select: none;
}

.mdproduto .conteudo .esquerda, .mdproduto .conteudo .direita {
    width: 50%;
    height: auto;
    overflow: hidden;
}

.mdproduto .conteudo .esquerda {
    float: left;
}

.mdproduto .conteudo .direita {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 390px;
}

.mdproduto .conteudo img {
    width: 360px;
    max-width: 70%;
    max-height: 350px;
    overflow: hidden;
    margin: auto;
    display: block;
    object-fit: contain;
}

.mdproduto .conteudo h4 {
    font-size: 15pt;
    margin-bottom: 15px;
    color: var(--texto-principal);
    font-weight: 600;
}

.mdproduto .quantidade {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid var(--bordas);
    border-radius: 7px;
}

.mdproduto .quantidade button {
    width: 8%;
    font-size: 16pt;
    font-weight: 800;
    color: var(--texto-secundario);
    line-height: 48px;
}

.mdproduto .quantidade input {
    width: 80%;
    height: 48px;
    text-align: center;
    border: none;
    font-size: 13pt;
    font-weight: 600;
    background-color: #FFF;
    color: #0c0c0c;
}

.cadastrin {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 20px 0 40px 0;
}

.cadastrin .esq, .cadastrin .dir {
    width: 48%;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.cadastrin label, .alterpass label {
    font-size: 12pt;
    font-weight: 400;
    color: var(--texto-secundario);
    margin-bottom: 10px;
    padding-top: 10px;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.cadastrin .esq {
    float: left;
}

.cadastrin .dir {
    float: right;
}

.btfit {
    width: fit-content; 
    float: right;
    margin-left: 15px;
}

.pass {
    width: 550px;
}

.lblocal {
    font-weight: 600;
    color: var(--texto-principal);
    padding-top: 10px;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#mdendereco {
    width: 800px;
}

.endsm {
    height: auto;
    overflow: hidden;
    float: left; 
    width: 32%;
}

.endcm {
    height: auto;
    overflow: hidden;
    float: left; 
    width: 32%;
    margin: 0 2%;
}

.endrcm {
    height: auto;
    overflow: hidden;
    float: left; 
    width: 50%; 
    margin-right: 2%;
}

.endrsm {
    height: auto;
    overflow: hidden;
    float: left; 
    width: 48%; 
}

.cep {
    width: 150px; 
    margin: 10px 0;
}

.pdatual {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 13px;
    margin-top: 15px;
    border: 1px solid var(--bordas);
}

.pdconteudo {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 13px 13px 0 0;
    padding: 25px 25px 35px 25px;
}

.pdbotoes {
    width: 100%;
    height: 50px;
    border-radius: 0 0 13px 13px;
    border-top: 1px solid var(--bordas);
    font-size: 0;
}

.pbt {
    width: 33.333%;
    height: auto;
    overflow: hidden;
    line-height: 50px;
    font-size: 12pt;
    color: var(--principal);
    font-weight: 600;
    transition: background-color ease 0.2s;
    float: left;
    text-align: center;
    display: block;
}

.pbt:hover {
    background-color: var(--principal);
    color: #FFF;
}

.bordapbt {
    border-right: 1px solid var(--bordas);
}

.pdloja {
    width: 65%;
    height: auto;
    overflow: hidden;
    float: left;
    margin-bottom: 12px;
}

.pdloja img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 100%;
    float: left;
    margin-right: 15px;
}

.pdloja h4 {
    font-size: 14pt;
    font-weight: 800;
    color: var(--texto-principal);
    margin-top: 12px;
}

.pdloja p {
    font-size: 11pt;
    font-weight: 400;
    color: var(--texto-secundario);
}

.pdprevisao {
    width: 35%;
    height: auto;
    overflow: hidden;
    float: right;
    margin-bottom: 12px;
}

.pdprevisao h4 {
    text-align: right;
    font-size: 16pt;
    font-weight: 600;
    color: var(--texto-principal);
}

.pdprevisao p {
    text-align: right;
    font-size: 11pt;
    font-weight: 400;
    color: var(--texto-secundario);
    margin-top: 12px;
}

.pdstatus {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 35px;
    border-top: 1px solid var(--bordas);
}

.pdstatus h2 {
    text-align: left;
    font-size: 15pt;
    color: var(--principal);
    font-weight: 600;
}

.pdstatus p {
    text-align: left;
    font-size: 12pt;
    color: var(--texto-principal);
    font-weight: 400;
}

.progresso {
    list-style: none;
    width: 100%;
    height: auto;
    overflow: hidden;
    counter-reset: step;
}

.progresso li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    font-size: 10pt;
}

.progresso li:before {
    content: counter(step);
    counter-increment: step;
    width: 22px;
    display: block;
    line-height: 22px;
    margin: 0 auto 5px auto;
    background-color: #dadada;
    border-radius: 5px;
    padding: 3px;
    color: #000;
    font-weight: 600;
    font-size: 11pt;
}

.progresso li:after {
    content: '';
    width: 100%;
    background-color: #dadada;
    height: 6px;
    position: absolute;
    top: 10px;
    left: -50%;
    z-index: -1;
}

.progresso li:first-child:after {
    content: none;
}

.progresso li.active:before, .progresso li.active:after {
    background-color: var(--principal);
    color: #FFF;
}

.historico {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.pdhistorico {
    width: 49%;
    height: auto;
    overflow: hidden;
    border: 1px solid var(--bordas);
    border-radius: 13px;
    margin-top: 15px;
}

.historico .esquerda {
    float: left;
}

.historico .direita {
    float: right;
}

.hsconteudo {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px 20px 15px 20px;
}

.pdhis {
    width: 100%;
    float: none;
}

.hsbotoes {
    width: 100%;
    height: 50px;
    border-radius: 0 0 13px 13px;
    border-top: 1px solid var(--bordas);
    font-size: 0;
}

.hbt {
    width: 50%;
    height: auto;
    overflow: hidden;
    line-height: 50px;
    font-size: 12pt;
    color: var(--principal);
    font-weight: 600;
    transition: background-color ease 0.2s;
    float: left;
    text-align: center;
    display: block;
}

.hbt:hover {
    background-color: var(--principal);
    color: #FFF;
}

.hsprodutos {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top: 1px solid var(--bordas);
}

.hsprodutos ul {
    list-style: none;
    margin-top: 25px;
}

.hsprodutos ul li p{
    font-size: 11pt;
    color: var(--texto-principal);
    margin: 0 0 10px 0;
}

.hsprodutos .qtd {
    font-weight: 600;
    margin: 0 15px 0 0;
    background-color: #e9e9e9;
    display: block;
    width: 18px;
    height: auto;
    overflow: hidden;
    float: left;
    text-align: center;
    border-radius: 4px;
    font-size: 10pt;
    line-height: 18px;
}

.hsprodutos .prd {
    font-weight: 400;
    color: var(--texto-tertiario);
    letter-spacing: 0.4px;
}

.hsprodutos .msi {
    font-size: 10pt;
    font-weight: 600;
    color: var(--texto-principal);
}

.btvoltar {
    margin: 0 0 10px 0;
    font-size: 12pt;
    font-weight: 600;
    color: var(--texto-tertiario);
}

.btvoltar svg {
    float: left;
    margin-right: 7px;
}

.btvoltar svg path {
    fill: var(--texto-tertiario);
}

.cupom {
    width: 100%;
    max-width: 500px;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.cupom h3{
    margin: 20px 0 5px 0;
    color: var(--texto-tertiario);
    font-size: 12pt;
    font-weight: 400;
}

.cupom .pentegra {
    font-weight: 600;
    font-size: 13pt;
    color: var(--texto-principal);
    margin-top: 4px;
    border-bottom: 1px solid var(--bordas);
    padding-bottom: 15px;
}

.cupom .prds {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--bordas);
}

.cupomproduto {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 15px 0;
}

.cupomproduto p {
    font-size: 12pt;
    float: left;
    width: 65%;
}

.cupomproduto h3 {
    font-weight: 600;
    color: var(--texto-principal);
    font-size: 13pt;
    float: right;
    margin: 7px 0;
}

.cupom .miscelanea {
    font-size: 12pt;
    font-weight: 400;
    color: var(--texto-principal);
}

.cupom .subtotais {
    border-bottom: 1px solid var(--bordas);
    padding-bottom: 15px;
    margin-top: 10px;
}

.cupom .scmiscelanea {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bordas);
}

main {
    min-height: calc(100vh - 147px);
}

.capa {
    margin-bottom: 0;
}

.capa img {
    width: calc(100% - 40px);
    height: 230px;
    object-fit: cover;
    border-radius: 13px;
    max-width: 1100px;
    margin: auto;
    display: block;
    filter: brightness(0.8);
}

.introducao {
    margin-top: 20px;   
    user-select: none;
}

.introducao .store {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}

.introducao .store .logor {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
    float: left;
}

.introducao .store h2 {
    float: left;
    line-height: 80px;
    margin-left: 20px;
    font-size: 22pt;
    font-weight: 600;
}

.classificacao {
    width: auto;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 30px 0 0 20px;
}

.classificacao svg {
    width: 20px;
    height: 20px;
}

.classificacao svg path {
    fill: #adab00;
}

.classificacao p {
    float: right;
    font-weight: 800;
    color: #adab00;
    margin: 2px 0 0 5px;
}

.introducao .store .btl {
    float: right;
    line-height: 80px;
}

.introducao .store .entpreco {
    float: right;
    line-height: 80px;
    font-size: 10pt;
    font-weight: 600;
    color: var(--texto-tertiario);
}

.separador {
    margin: 0 40px;
    float: right;
    line-height: 80px;
    color: var(--texto-tertiario);
    font-weight: 300;
}

.introducao .pesquisar {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.introducao .pesquisar form {
    width: calc(100% - 250px);
    height: auto;
    overflow: hidden;
    float: left;
    margin-top: 10px;
}

.introducao .tempo {
    width: 120px;
    height: 50px;
    float: right;
    border-radius: 7px;
    border: 1px solid var(--bordas);
    margin-top: 20px;
    padding: 8px;
    margin-left: 5px;
}

.introducao .tempo h4 {
    font-size: 11pt;
    font-weight: 600;
    text-align: left;
}

.introducao .tempo p {
    font-size: 9pt;
    text-align: left;
}

.scs {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 25px 0;
    border-bottom: 1px solid var(--bordas);
}

.scs:last-child {
    border-bottom: none;
}

.scs h3 {
    font-size: 13pt;
    color: var(--texto-principal);
    font-weight: 600;
    margin-bottom: 8px;
}

.scs p, .scs ul li {
    font-size: 12pt;
    font-weight: 400;
    color: var(--texto-secundario);
}

.scs ul li {
    margin-bottom: 7px;
}

.hr1 {
    width: 40%;
    height: auto;
    overflow: hidden;
    display: block;
    float: left;
}

.hr2 {
    width: 60%;
    height: auto;
    overflow: hidden;
    display: block;
    float: right;
}

.scs .ativo p {
    font-weight: 800;
}

.scs .localizacao {
    float: left;
    width: fit-content;
    height: auto;
    overflow: hidden;
}

.btmap {
    float: right;
    font-size: 13pt;
    color: var(--principal);
    margin-left: 20px;
}

.avalintro {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--bordas);
}

.avalintro h1 {
    font-size: 33pt;
    font-weight: 600;
}

.avalintro svg {
    width: 24px;
    height: 24px;
}

.avalintro svg path {
    fill: var(--texto-tertiario);
}

.avalintro .ativo {
    fill: #adab00;
}

.estrelas {
    width: 100%;
    height: auto;
    overflow: hidden;
    letter-spacing: -5px;
}

.avalintro p {
    font-size: 10pt;
    color: var(--texto-tertiario);
    margin-top: 5px;
}

.avalu {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.avalu .nota{
    font-weight: 600;
    font-size: 12pt;
    float: left;
    line-height: 23px;
}

.avalu .avastars {
    float: left;
    margin-left: 15px;
    width: fit-content;
    height: auto;
    overflow: hidden;
    letter-spacing: -5px;
}

.avastars svg {
    width: 20px;
    height: 20px;
}

.avastars svg path {
    fill: var(--texto-tertiario);
}

.avastars .ativo {
    fill: #adab00;
}

.avalu .data {
    float: right;
    font-size: 12pt;
    font-weight: 400;
    color: var(--texto-secundario);
}

.avalu .comentario {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.avalu .comentario p {
    font-size: 12pt;
    color: var(--texto-principal);
    font-weight: 400;
    margin-top: 7px;
}

.dirloja {
    float: right;
    width: fit-content;
    height: auto;
    overflow: hidden;
}

.introchat {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.introchat img {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    margin: auto;
    display: block;
}

.introchat h2 {
    text-align: center;
    margin-top: 15px;
    font-size: 15pt;
    font-weight: 600;
}

.dias, .mensagens { 
    list-style: none;
}

.dia h6 {
    text-align: center;
    font-weight: 400;
    color: var(--texto-tertiario);
    font-size: 10pt;
}

.msgs {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.mspedido {
    margin-bottom: 110px;
}

.msloja, .msusuario {
    display: block;
    width: fit-content;
    height: auto;
    overflow: hidden;
    font-size: 10pt;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 50px;
}

.msusuario {
    max-width: 65%;
    text-align: right;
    background-color: var(--principal);
    color: #FFF;
    margin: 5px 0 5px auto;
}

.msloja {
    max-width: 65%;
    text-align: left;
    background-color: var(--bordas);
    color: #000;
    margin: 5px auto 5px 0;
}

.faval h4 {
    font-size: 12pt;
    font-weight: 400;
    color: var(--texto-secundario);
    margin-bottom: 10px;
}

.place2 {
    margin-top: 20px;
}

.estrelinhas {
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.estrelinhas svg {
    cursor: pointer;
}

.estrelinhas svg path {
    fill: #adab00;
}

.avaliar {
    max-width: 520px;
}

.mdobs {
    font-size: 10pt;
    color: var(--texto-tertiario);
    font-weight: 400;
    margin: 20px 0;
}

.descpromo {
    color: var(--texto-tertiario);
}

.txtpass {
    width: calc(100% - 160px);
    float: left;
    margin: 0 auto 10px auto;
}

.btpass {
    width: 150px;
    margin: 0 auto 10px auto;
    float: right;
}

@media screen and (max-width: 1050px) {
    .promocional .container {
        width: 1050px;
    }

    .promocao {
        margin: 0px 20px 0 0;
    }

    footer, .navbusca, .buscar, .conta, .pedidos {
        display: none;
    }

    .buscamob {
        display: inline;
        margin: 0;
        width: 100%;
    }

    .buscamob input {
        width: 100%;
    }

    .loja {
        width: calc(50% - 10px);
    }

    .loja img {
        width: 90px;
        height: 90px;
        border-radius: 20px;
    }

    .loja h4 {
        margin: 10px 0;
    }

    .mobnavs {
        display: block;
    }

    .mdproduto {
        width: 100%;
        border-radius: 20px 20px 0 0;
        margin: auto 0 0 0;
        overflow: scroll;
        scrollbar-width: 0;
        animation: modalmob 0.3s;
        will-change: bottom;
        border:none;
    }

    .mdproduto::-webkit-scrollbar {
        display: none;
    }

    #mdendereco {
        width: auto;
    }

    .cupom {
        margin-bottom: 20px;
    }

    .dados {
        margin-bottom: 55px;
    }

    .buttons li:nth-child(1):hover::after {
        display: none;
    }
    
    .buttons li:nth-child(2):hover::after {
        display: none;
    }
    
    .buttons li:nth-child(3):hover::after {
        display: none;
    }
    
    .buttons li:nth-child(4):hover::after {
        display: none;
    }
}

@media screen and (max-width: 970px) {
    .produto {
        width: calc(50% - 20px);
    }

    .checkout .esquerda, .checkout .direita {
        width: 70%;
        float: none;
    }

    .checkcart {
        float: none;
        margin-top: 20px;
        width: 85%;
    }

    .pass {
        width: 100%;
        border-radius: 20px 20px 0 0;
        margin: auto 0 0 0;
        overflow: scroll;
        scrollbar-width: 0;
        animation: modalmob 0.3s;
        will-change: bottom;
        max-width: none;
    }

    .cadastrin .esq, .cadastrin .dir{
        width: 100%;
        float: none;
    }

    .btfit {
        width: 100%;
    }
    
    .abfinal {
        margin: 30px auto 100px auto;
    }

    .classificacao {
        float: right;
        margin: 7px 0 0 0;
    }

    .introducao .store .logor {
        width: 68px;
        height: 68px;
    }

    .capa {
        margin-top: 0;
    }

    .capa img {
        width: 100%;
        border-radius: 0;
    }

    .introducao .store {
        margin-top: 0;
    }

    .introducao .store h2 {
        line-height: unset;
        font-size: 17pt;
        width: calc(85% - 90px);
        margin-top: 7px;
    }

    .dirloja {
        float: left;
        margin-left: 20px;
    }

    .introducao .store .btl, .separador, .introducao .store .entpreco {
        line-height: 35px;
    }

    .separador {
        margin: 0 20px;
    }

    .btl {
        font-size: 12pt;
    }

    .avaliar {
        max-width: unset;
    }
}

@media screen and (max-width: 750px) {
    .loja {
        width: 50%;
        margin: 0;
        padding: 15px 10px;
    }

    .loja:hover {
        box-shadow: none;
    }

    .loja img {
        width: 70px;
        height: 70px;
        margin-right: 15px;
    }

    .loja h4 {
        font-size: 13pt;
        margin: 5px 0;
    }

    .loja p {
        font-size: 10pt;
    }

    .checkout .esquerda, .checkout .direita {
        width: 100%;
        float: none;
    }

    .dados {
        width: 100%;
    }

    .checkcart {
        float: none;
        width: 100%;
        margin-top: 20px;
    }

    .tcheckout {
        max-width: none;
    }

    .mdproduto {
        height: fit-content;
    }

    .mdproduto .conteudo .esquerda, .mdproduto .conteudo .direita {
        width: 100%;
        float: none;
    }

    .mdproduto .conteudo .direita {
        height: auto;
    }

    .mdproduto .conteudo img {
        width: 180px;
        margin-bottom: 35px;
        max-height: 165px;
    }

    .mdproduto .conteudo .botoes {
        margin-top: 20px;
    }

    .mdproduto .conteudo h4 {
        font-size: 14pt;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 15pt;
    }

    .produto {
        width: 100%;
        margin: 10px 0;
    }

    .produto:hover{
        box-shadow: none;
    }

    .vertudo {
        width: 100%;
    }

    .produto .imagem {
        width: 30%;
        float: right;
    }

    .descritivo {
        float: left;
        width: 70%;
    }

    .descritivo h4 {
        height: 36px;
        font-size: 13pt;
    }

    .descricao {
        -webkit-line-clamp: 2;
        height: 32px;
    }

    .produto .imagem img {
        height: 110px;
        object-fit: contain;
        max-width: 90px;
    }
    
    .peso {
        float: left;
    }

    .local, .preco {
        float: left;
        width: 100%;
    }

    .loja img {
        width: 62px;
        height: 62px;
    }

    .loja h4 {
        font-size: 12.5pt;
    }

    .mdproduto .conteudo img {
        width: 95px;
    }
    
    .cep, .endsm, .endcm, .endrsm, .endrcm {
        width: 100%;
    }

    .endcm {
        margin: 0;
    }

    .pdconteudo {
        padding: 15px;
    }

    .pdstatus {
        display: none;
    }

    .pdhistorico {
        width: 100%;
    }

    .pdloja {
        width: 100%;
    }

    .pdloja img {
        width: 56px;
        height: 56px;
    }

    .pdloja h4 {
        margin-top: 8px;
    }

    .pdprevisao {
        width: 100%;
        float: none;
        border-top: 1px solid var(--bordas);
        margin: 0;
    }

    .pdprevisao p, .pdprevisao h4 {
        text-align: left;
    }

    .pdprevisao h4 {
        font-size: 14pt;
    }

    .pdprevisao p {
        font-size: 10pt;
    }

    .pbt {
        width: 50%;
        font-size: 10.5pt;
        line-height: 49px;
    }

    .pbtmeio {
        border-right: none;
    }

    .hbt {
        font-size: 10.5pt;
        line-height: 49px;
    }

    .pbtfinal {
        width: 100%;
        border-top: 1px solid var(--bordas);
    }

    .hsprodutos .prd, .hsprodutos .qtd {
        font-size: 10pt;
    }

    .hsprodutos .msi {
        font-size: 9pt;
    }

    .capa img {
        height: 200px;
    }

    .introducao .pesquisar form {
        width: 100%;
    }

    .introducao .tempo {
        margin: 0;
        width: calc(50% - 5px);
        height: 52px;
        float: left;
    }

    .introducao .tmp2 {
        float: right;
    }

    .avalintro h1 {
        font-size: 28pt;
    }
}

@media screen and (max-width: 500px) {
    .loja {
        width: 100%;
        padding: 15px 0px;
        border-bottom: 1px solid var(--bordas);
        border-radius: 0;
    }
}

@media screen and (max-width: 400px) {
    .produto .imagem img {
        height: 70px;
    }

    .produto {
        width: 100%;
    }

    .produto .imagem, .descritivo {
        width: 100%;
        float: none;
    }

    .produto .imagem img {
        height: 110px;
    }

    .endereco .local h4, .endereco .local h5 {
        font-size: 12pt;
    }

    .dados h1 {
        font-size: 18pt;
    }

    .dados h3 {
        font-size: 11pt;
    }

    .logistica .tipoent .p1, .logistica .tipoent .p2, .logistica .tipoent .p3 {
        font-size: 11pt;
    }

    .pagto .p1 {
        font-size: 11pt;
    }

    .pagto .p2 {
        font-size: 10pt;
    }

    .content .titulo h3 {
        font-size: 13pt;
    }

    .content .titulo a, .btmap {
        font-size: 11.5pt;
    }

    .content .item .cproduto p {
        font-size: 11pt;
    }

    .scs p, .scs ul li {
        font-size: 11pt;
    }

    .mdproduto .quantidade input {
        width: 78%;
    }

    .introducao .store h2 {
        font-size: 15pt;
    }
}

@media screen and (max-width: 350px) {
    body {
        min-width: 340px;
        
    }
}

@media print {
    * {
        font-family: Arial, Verdana, sans-serif;
    }

    .print, header, footer, .btvoltar {
        display: none;
    }

    .cupom h1 {
        text-transform: uppercase;
        font-size: 15pt;
    }
}