.titulo {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: var(--inicio);
}

.titulo h1 {
    text-align: center;
    font-size: 35pt;
    padding: 70px 0 90px 0;
}

.conteudo {
    margin: 35px 0;
}

.conteudo h2 {
    font-size: 20pt;
    font-weight: 700;
    margin-bottom: 20px;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.secoes {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.secoes .esquerda {
    float: left;
}

.secoes .direita {
    float: right;
}

.secao {
    height: auto;
    overflow: hidden;
    width: calc(50% - 15px);
    padding: 25px;
    text-decoration: none;
    margin: 10px 3px;
    border: 1px solid var(--bordas);
    border-radius: 8px;
    min-height: 100px;
    display: block;
    transition: box-shadow ease 0.2s;
}

.secao div {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.secao svg {
    width: 32px;
}

.secao p {
    margin-top: 6px;
    color: var(--texto-tertiario);
}

.secao:hover {
    box-shadow: 0px 0px 7px #cdcdcd;
}

.titulo-botao {
    font-size: 16pt;
    font-weight: 800;
    color: var(--texto-principal);
    margin-top: 16px;
    transition: color ease 0.2s;
}

.icone {
    fill: var(--texto-secundario);
    transition: fill ease 0.2s;
}

.caminho {
    font-size: 11pt;
    font-weight: 400;
    color: var(--texto-tertiario);
    margin: 10px 0;
}

.caminho a {
    font-size: 11pt;
    font-weight: 400;
    color: var(--texto-tertiario);
}

.caminho a:hover {
    color: var(--principal);
}

.acordeon {
    background-color: #FFF;
    border: 1px solid var(--bordas);
    color: #000000;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 14pt;
    border-radius: 8px;
    font-weight: 600;
    margin: 25px 0 0 0;
    transition: box-shadow ease 0.2s;
}

.acordeon::after {
    content: '+';
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 16pt;
}

.acordeon.active::after {
    content: '-';
}

.painel {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 0px 20px;
    border-left: 1px solid var(--bordas);
    border-right: 1px solid var(--bordas);
    border-bottom: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.03s ease-out;
    color: #000;
    border-radius: 0 0 8px 8px;
}

.edicao {
    width: 100%;
    height: auto;
    min-height: 160px;
    overflow: hidden;
    display: block;
}

.active {
    background-color: var(--inicio);
}

.ck-editor__editable {
    border: 1px solid var(--bordas);
}

.ck-editor__editable[role="textbox"] {
    min-height: 160px;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    border-radius: 0 0 7px 7px!important;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
    border-radius: 7px 7px 0 0!important;
}

.ck.ck-toolbar, .ck.ck-editor__editable_inline {
    border: 1px solid var(--bordas)!important;
}

.ck.ck-editor__editable_inline {
    border-top: none;
}

.esqinput {
    float: left;
    width: 49%;
}

.dirinput {
    float: right;
    width: 50%;
}

@media screen and (max-width: 800px) {
    .secoes .esquerda, .secoes .direita {
        float: none;
    }

    .secao {
        margin: 20px 0;
        width: 100%;
    }

    .secao:hover {
        box-shadow: none;
    }

    .esqinput, .dirinput {
        float: none;
        width: 100%;
    }

    .acordeon{
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .titulo h1 {
        font-size: 28pt;
        padding: 60px 0 80px 0;
    }

    .conteudo h2, h2 {
        font-size: 17pt;
    }

    .caminho {
        font-size: 10pt;
    }
    
    .caminho a {
        font-size: 10pt;
    }

    .acordeon {
        font-size: 12pt;
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width: 350px) {
    .titulo h1 {
        font-size: 25pt;
    }
}
