.titulo {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: var(--inicio);
}

.titulo h1 {
    text-align: center;
    font-size: 35pt;
    padding: 70px 0 90px 0;
}

.conteudo {
    margin: 35px 0;
}

.conteudo h2 {
    font-size: 20pt;
    font-weight: 700;
    margin-bottom: 20px;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.secoes {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.secoes .esquerda {
    float: left;
}

.secoes .direita {
    float: right;
}

.secao {
    height: auto;
    overflow: hidden;
    width: calc(50% - 15px);
    padding: 25px;
    text-decoration: none;
    margin: 10px 3px;
    border: 1px solid var(--bordas);
    border-radius: 8px;
    min-height: 100px;
    display: block;
    transition: ease 0.2s;
}

.secao div {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.secao svg {
    width: 32px;
}

.secao p {
    margin-top: 6px;
    color: var(--texto-tertiario);
}

.secao:hover {
    box-shadow: 0px 0px 7px #cdcdcd;
}

.titulo-botao {
    font-size: 16pt;
    font-weight: 800;
    color: var(--texto-principal);
    margin-top: 16px;
    transition: color ease 0.2s;
}

.icone {
    fill: var(--texto-secundario);
    transition: fill ease 0.2s;
}

.caminho {
    font-size: 11pt;
    font-weight: 400;
    color: var(--texto-tertiario);
    margin: 10px 0;
}

.caminho a {
    font-size: 11pt;
    font-weight: 400;
    color: var(--texto-tertiario);
}

.caminho a:hover {
    color: var(--principal);
}

@media screen and (max-width: 800px) {
    .secoes .esquerda, .secoes .direita {
        float: none;
    }

    .secao {
        margin: 20px 0;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .titulo h1 {
        font-size: 28pt;
        padding: 60px 0 80px 0;
    }

    .conteudo h2, h2 {
        font-size: 17pt;
    }

    .caminho {
        font-size: 10pt;
    }
    
    .caminho a {
        font-size: 10pt;
    }
}

@media screen and (max-width: 350px) {
    .titulo h1 {
        font-size: 25pt;
    }
}
