a {
    letter-spacing: -0.3px;
}

.cadastramento {
    background-image: url('../images/fundo-cadastro-parceiro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.container {
    min-height: 100vh;
}

.entrada {
    background-image: url('../images/fundo-petshop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.linkacao {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: var(--principal);
    text-align: center;
    font-size: 12pt;
}

.linkacao:hover, .recuperacao:hover {
    text-decoration: underline;
}

.containerzinho {
    background-color: #f9f9f9;
    width: 43%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #00000021;
}

.esquerda {
    margin: 7vh 2%;
}

.direita {
    margin: 7vh 55%;
}

.logo {
    text-align: center;
    float: none;
    margin: 0;
    padding-top: 10px;
}

.containerzinho h1{
    font-size: 20pt;
    font-weight: 800;
    margin-top: 20px;
    text-align: center;
}

.containerzinho p {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-size: 12pt;
}

.formulario {
    padding: 20px 0 30px 0;
}

.formulario fieldset:not(:first-of-type) {
    display: none;
}

.entradas {
    border: 1px solid #d4d4d4;
    background-color: #FFF;
    width: 90%;
    height: 50px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 7px;
    display: block;
}

.botao {
    border: 1px solid var(--principal);
    background-color: var(--principal);
    color: #FFFFFF;
    font-weight: 700;
    width: 90%;
    height: 50px;
    padding: 0 20px;
    margin: 30px auto;
    border-radius: 7px;
    font-size: 12pt;
    display: block;
    transition: background-color ease 0.2s;
}

.acao {
    text-align: center;
    display: block;
}

.botao:hover {
    background-color: var(--hover);
    border: 1px solid var(--hover);
}

.recuperacao {
    font-size: 12pt;
    text-align: right;
    text-decoration: none;
    display: block;
    width: calc(100% - 25px);
    color: var(--principal);
    font-weight: 600;
}

.termos {
    margin-top: 25px;
    width: 100%;
    display: block;
}

.termos p {
    width: 95%;
    font-size: 12pt;
    margin: auto;
}

.termos a {
    font-size: 12pt;
    text-decoration: none;
    color: var(--principal);
    font-weight: 600;
}

.termos a:hover {
    text-decoration: underline;
}

.forgot {
    margin: 15vh 55%;
}

header {
    width: 100%;
    height: 75px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--bordas);
}

.loja {
    width: fit-content;
    height: auto;
    overflow: hidden;
    float: left;
}

.loja img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin: 12px 0;
    float: left;
}

.txloja {
    width: fit-content;
    height: auto;
    overflow: hidden;
    margin: 17px 0 17px 15px;
    float: left;
}

.txloja h2 {
    font-size: 15pt;
    font-weight: 600;
}

.txloja p {
    font-size: 10pt;
    font-weight: 400;
    color: var(--texto-tertiario);
}

.btsdir {
    width: fit-content;
    height: auto;
    overflow: hidden;
    float: right;
}

.situacao {
    width: fit-content;
    height: auto;
    overflow: hidden;
    line-height: 75px;
    float: right;
    margin-right: 20px;
}

.sitmobile {
    display: none;
}

.sitmobile select {
    padding: 15px 25px;
    margin-bottom: 15px;
    background: var(--secundaria);
    appearance: none;
    width: 100%;
    border-radius: 8px;
    font-weight: 600;
    color: var(--principal);
}

.situacao select {
    border: 1px solid var(--bordas);
    padding: 0 20px;
    border-radius: 7px;
    width: auto;
    min-width: 120px;
    height: 42px;
    font-size: 11pt;
    font-weight: 600;
    color: var(--texto-secundario);
    appearance: none;
    min-width: 120px;
    background: url('../images/menu.svg') no-repeat center right;
    background-position-x: calc(100% - 5px);
    cursor: pointer;
}

.buttons {
    float: right;
    display: block;
    list-style: none;
}

.buttons li {
    float: right;
    margin: 25px 10px;
}

.buttons svg {
    width: 25px;
    height: 25px;
}

.buttons svg path {
    fill: var(--principal);
}

.buttons button {
    background: none;
    border:none;
}

.buttons li::after {
    display: none;
    content: "";
    position: absolute;
    background-color: rgb(66, 66, 66);
    padding: 8px 12px;
    height: fit-content;
    overflow: hidden;
    line-height: 1;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 10pt;
    top: 75px;
}

.buttons li:nth-child(1):hover::after {
    content: "Sair";
    display: block;
}

.buttons li:nth-child(2):hover::after {
    content: "Avisos";
    display: block;
}

.dpdown {
    padding: 15px;
}

.navbar {
    list-style: none;
    padding: 15px;
    margin: 5px 0;
}

.navbar li {
    cursor: pointer;
    border-radius: 7px;
    margin: 5px 0;
    transition: background-color ease 0.2s;
}

.navbar li:hover {
    background-color: #e4e4e4;
    color: #000;
}

.navbar li a {
    width: 100%;
    display: inline-block;
    padding: 12px 25px;
    font-size: 12pt;
    color: #505050;
    font-weight: 400;
}

.navbar li svg {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.navbar li svg path {
    fill: #505050;
}

.navbar .active {
    background-color: var(--principal);
}

.navbar .active:hover {
    background-color: var(--principal);
}

.navbar .active a {
    font-weight: 800;
    color: #FFF;
}

.navbar .active svg path {
    fill: #FFF;
}

.navbar h5 {
    padding: 22px 25px 5px 25px;
    font-size: 11pt;
    color: #505050;
    font-weight: 800;
}

aside {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    position: fixed;
    height: calc(100vh - 75px);
    border-right: 1px solid var(--bordas);
    overflow-y: scroll;
    scrollbar-width: 10px;
    scrollbar-color: #bdbdbd transparent;
    transition: ease all 0.3s;
    z-index: 10;
}

aside::-webkit-scrollbar {
    width: 10px;
}
  
aside::-webkit-scrollbar-track {
    background: #FFFFFF;
}
  
aside::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
}

.asidepos {
    left: 0%;
}

.dash {
    width: 100%;
    max-width: calc(100% - 50px);
    height: auto;
    margin: auto;
    overflow: hidden;    
}

footer .dash {
    border-top: 1px solid #cacaca;
}

footer {
    margin-left: 300px;
    width: calc(100% - 300px);
}

.plogotipo {
    float: left;
    font-family: 'Pacifico', cursive;
    margin-right: 25px;
    width: 275px;
}

.plogotipo a {
    font-size: 20pt;
    line-height: 75px;
    color: var(--principal);
    transition: color 0.2s ease 0s;
}

.titulor {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.titulor h2 {
    font-size: 15pt;
    color: var(--texto-principal);
    font-weight: 800;
    margin: 0 10px 20px 0;
    float: left;
}

.titulor p {
    float: left;
    color: var(--texto-tertiario);
    font-size: 10pt;
    margin-top: 7px;
}

.dsh {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 25px
}

.exibicao {
    background-color: #f8f8f8;
    margin-left: 300px;
    min-height: calc(100vh - 75px);
    padding: 10px 0px 70px 0;
}

.metricas{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.metrica {
    width: 24.25%;
    margin-right: 1%;
    height: auto;
    overflow: hidden;
    padding: 15px;
    background-color: #FFFFFF;
    float: left;
    border-radius: 8px;
    border: 1px solid var(--bordas);
}

.metricas .fim {
    margin-right: 0;
}

.metrica h4 {
    font-size: 12pt;
    font-weight: 600;
    color: var(--texto-tertiario);
    margin-bottom: 15px;
}

.metrica h3 {
    float: left;
    font-size: 18pt;
    font-weight: 800;
    color: var(--texto-principal);
}

.metrica a {
    float: right;
    font-size: 9pt;
    margin-top: 5px;
    padding: 5px 12px;
    background-color: var(--secundaria);
    border-radius: 5px;
    font-weight: 600;
}

.desempenho, .tabelamento {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 15px;
    background-color: #FFF;
    border-radius: 8px;
    border: 1px solid var(--bordas);
}

.atividades {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.atividade {
    width: 32.333333%;
    height: auto;
    margin: 1% 1% 0 0;
    float: left;
    overflow: hidden;
    padding: 15px;
    background-color: #FFF;
    border-radius: 8px;
    border: 1px solid var(--bordas);
}

.atividades .fim {
    width: 33.3333%;
    margin-right: 0;
}

.vendas {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 15px 0 30px 0;
}

.vendas h4 {
    font-size: 11pt;
    font-weight: 600;
    color: var(--texto-tertiario);
}

.vendas h3 {
    font-size: 19pt;
    color: #000;
    font-weight: 800;
    margin: 10px 0 5px 0;
}

.medidas {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    margin-top: 5px;
}

.medidas p {
    font-size: 11pt;
    font-weight: 600;
    color: var(--texto-tertiario);
}

.medidas .valor {
    color: var(--texto-principal);
}

#mdloja img {
    width: 152px;
    height: 152px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

#mdloja p {
    margin: 15px 0;
}

.filtragem {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.filtragem label {
    font-size: 11pt;
    font-weight: 800;
    color: var(--texto-tertiario);
    letter-spacing: 0;
}

.filtragem .avaliativo, .filtragem .pedidors {
    width: 19%;
    margin-right: 1%;
    float: left;
    height: auto;
    overflow: hidden;
}

.filtragem .fim {
    width: 20%;
    margin-right: 0;
}

.btfiltro {
    margin-top: 28px;
}   

.tabelamento {
    margin-top: 15px;
}

.tabela {
    width: 100%;
    border: none;
    font-size: 10.5pt;
    border-bottom: 1px solid var(--bordas);
    border-collapse: collapse;
}

.tabela th {
    text-align: left;
    padding: 20px 5px;
    border-bottom: 1px solid var(--bordas);
    color: var(--texto-principal);
    font-size: 11pt;
}

.tabela .cabecalho:hover {
    background-color: transparent;
}

.tabela tr:hover {
    background-color: #eeeeee;
}

.tabela td {
    text-align: left;
    padding: 15px 5px;
    font-weight: 400;
    color: var(--texto-secundario);
}

.btlink {
    letter-spacing: -0.3px;
    color: var(--principal);
    background-color: var(--secundaria);
    border-radius: 5px;
    font-weight: 600;
    font-size: 10.5pt;
    padding: 8px 12px;
}

.tabela tbody tr td:nth-child(1) {
    font-weight: 600;
}

.dataTables_length {
    display: none;
}

.dataTables_info {
    float: left;
    margin: 20px 0 10px 0;
    font-size: 10pt;
}

.dataTables_paginate {
    float: right;
    margin: 20px 0 10px 0;
}

.paginate_button {
    font-size: 10pt;
    font-weight: 600;
    color: var(--texto-secundario);
    margin: 0 3px;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 5px;
    border: 1px solid var(--bordas);
    background: transparent;
    padding: 6px 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border-radius: 5px;
    background: var(--principal);
    border: 1px solid var(--principal);
    color: #FFF;
    padding: 6px 12px;
}

#tblpedidos .cabecalho th:nth-child(1) {
    width: 95px;
}

#tblpedidos .cabecalho th:nth-child(2) {
    width: 165px;
}

#tblpedidos .cabecalho th:nth-child(3) {
    width: 165px;
}

#tblpedidos .cabecalho th:nth-child(4) {
    width: 165px;
}

#tblpedidos .cabecalho th:nth-child(5) {
    max-width: 240px;
}

#tblpedidos .cabecalho th:nth-child(6) {
    width: 100px;
}

tr:nth-child(even) {
    background:#f7f7f7;
}

#tblpedidos .confirmar, #tblpedidos .andamento, #tblpedidos .entrega, #tblpedidos .concluido {
    width: fit-content;
    padding: 6px 15px;
    height: auto;
    overflow: hidden;
    border-radius: 50px;
    font-weight: 600;
}

#tblpedidos .confirmar {
    background-color: #e9e3be;
    color: #998200;
}

#tblpedidos .andamento {
    background-color: #bee3e9;
    color: #25375e;
}

#tblpedidos .entrega {
    background-color: #e9bebe;
    color: #411b19;
}

#tblpedidos .concluido {
    background-color: #c2e9be;
    color: #145735;
}

.hamburger {
    margin: 21px 15px 20px 0;
}

.hamburguer svg {
    width: 28px;
    height: 28px;
}

.avaliacoes {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 15px;
}

.avaliacoes ul {
    list-style: none;
}

.avaliacao {
    width: 32.333%;
    margin-right: 1%;
    margin-bottom: 1%;
    height: auto;
    overflow: hidden;
    padding: 15px;
    background-color: #FFFFFF;
    float: left;
    border-radius: 8px;
    border: 1px solid var(--bordas);
}

.avaliacao h3 {
    font-size: 15pt;
    color: var(--texto-principal);
    font-weight: 600;
}

.avaliacao h4 {
    font-size: 10pt;
    color: var(--texto-tertiario);
    font-weight: 600;
}

.avaliacao p {
    font-size: 11pt;
    color: var(--texto-principal);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 50px;
}

.avaliacao span {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}

.estrelas {
    width: fit-content;
    height: auto;
    overflow: hidden;
    letter-spacing: -5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.estrelas svg {
    width: 20px;
    height: 20px;
}

.estrelas svg path {
    fill: var(--texto-tertiario);
}

.estrelas .ativo {
    fill: #df9800;
}

.detalhar {
    float: right;
    font-size: 9pt;
    margin-top: 5px;
    padding: 5px 12px;
    background-color: var(--secundaria);
    border-radius: 5px;
    font-weight: 600;
}

.lateral {
    width: 100%;
    height: calc(100vh - 75px);
    background-color: #faf9f9;
    position: fixed;
    right: -110%;
    top: 75px;
    max-width: 450px;
    border-left: 1px solid var(--bordas);
    z-index: 1;
    transition: ease all 0.3s;
    overflow: auto;  
    margin: 0;
}

.lateral .fechar {
    width: 100%;
    height: 60px;
    background-color: #f0f0f0;
    padding: 15px;
    border-bottom: 1px solid var(--bordas);
}

.lateral .fechar span {
    float: right;
    line-height: 30px;
    font-weight: 600;
    color: var(--texto-secundario);
}

.lateral .fechar button {
    float: left;
    border: none;
    background: none;
}

.lateral .fechar svg {
    width: 25px;
    height: 25px;
    margin-top: 3px;
}

.lateral .fechar svg path {
    fill: var(--texto-secundario);
}

.lateral .conteudo {
    padding: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.fundo {
    width: 100%;
    max-width: 450px;
    height: auto;
    overflow: hidden;
    background-color: #f7f7f7;
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: -110%;
    padding: 20px;
    transition: ease all 0.3s;
    border: 1px solid var(--bordas);
}

.cartoes {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #FFF;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid var(--bordas);
    margin-bottom: 15px;
}

.cartoes h3 {
    font-size: 13pt;
    font-weight: 600;
    color: var(--texto-principal);
}

.cartoes p {
    font-size: 11pt;
    font-weight: 400;
    color: var(--texto-secundario);
    margin: 5px 0 15px 0;
}

.acionamento {
    margin-right: 10px;
    background-color: #bdecff;
    color:  #1c2b2e;
}

.btvoltar {
    margin: 0 0 10px 0;
    font-size: 12pt;
    font-weight: 600;
    color: var(--texto-tertiario);
}

.btvoltar svg {
    float: left;
    margin-right: 7px;
}

.btvoltar svg path {
    fill: var(--texto-tertiario);
}

.status {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid var(--bordas);
    margin: 5px 0px 25px 0;
}

.status h3 {
    font-size: 13pt;
    font-weight: 600;
    color: var(--principal);
    margin-bottom: 5px;
}

.status p {
    font-size: 11pt;
    font-weight: 400;
    color: var(--texto-principal);
}

.alertas {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.alerta {
    width: fit-content;
    height: auto;
    overflow: hidden;
    padding: 15px;
    background-color: #FFF;
    border: 1px solid var(--bordas);
    border-radius: 8px;
    float: left;
    margin-right: 10px;
}

.alerta p {
    font-size: 11pt;
}

.log, .cobranca {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid var(--bordas);
    border-radius: 10px;
    margin-top: 25px;
}

.cobranca {
    display: none;
}

.log p, .cobranca p {
    font-size: 11pt;
}

.log .tipo, .cobranca .tipo {
    font-weight: 600;
    background-color: #bbe4ff;
    color: #0e3333;
    padding: 5px 10px;
    border-radius: 50px;
    margin-right: 15px;
}

.cobranca .tipo {
    background-color: #b4f1b9;
    color: #182c16;
}

.btconfirmar {
    width: fit-content;
    margin-left: 15px;
    float: right;
}

.btentrega {
    width: fit-content;
    margin-left: 15px;
    float: right;
    display: none;
}

.btimpressao {
    width: fit-content;
    float: left;
    display: none;
}

.btimpressao svg {
    float: left;
    margin: 11px 0;
}

.impressora {
    fill: var(--principal);
}

.btimpressao:hover .impressora {
    fill: #FFF;
}

#tblitens .cabecalho th:nth-child(1) {
    width: 95px;
}

#tblitens .cabecalho th:nth-child(2) {
    width: 130px;
}

#tblitens .cabecalho th:nth-child(4) {
    width: 135px;
}

.btcontato {
    margin: 15px 0px 0 10px;
    font-size: 11pt;
    display: none;
}

.statpos {
    color: #0a420a;
    font-weight: 600;
}

.btcarregando {
    opacity: 0.8;
    cursor: wait;
}

.introchat {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.introchat img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin: auto;
    display: block;
}

.introchat h2 {
    text-align: center;
    margin-top: 15px;
    font-size: 15pt;
    font-weight: 600;
}

.dias, .mensagens { 
    list-style: none;
}

.dia h6 {
    text-align: center;
    font-weight: 400;
    color: var(--texto-tertiario);
    font-size: 10pt;
}

.msgs {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.msloja, .msusuario {
    display: block;
    width: fit-content;
    height: auto;
    overflow: hidden;
    font-size: 10pt;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 50px;
}

.msusuario {
    max-width: 65%;
    text-align: left;
    background-color: var(--bordas);
    color: #000;
    margin: 5px auto 5px 0;
}

.msloja {
    max-width: 65%;
    text-align: left;
    background-color: var(--principal);
    color: #FFF;
    margin: 5px 0 5px auto;
}

.poslateral {
    right: 0;
}

.lateral .mensagens {
    margin-bottom: 110px;
}

.pagamento {
    margin-right: 20px;
}

.lateral .comfundo {
    margin-bottom: 125px;
}

.outro {
    font-size: 10pt;
    color: var(--texto-principal);
    font-weight: 400;
    margin: 2px 0;
}

.psoutros {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#avaliado .conteudo h3 {
    font-size: 17pt;
}

#avaliado .conteudo p {
    font-size: 12pt;
}

#avaliado .estrelas {
    margin-top: 5px;
}

#avaliado h5 {
    font-size: 12pt;
    margin-bottom: 5px;
    margin-top: 30px;
    color: var(--texto-tertiario);
}

@media screen and (max-width: 1150px) {
    aside {
        left: -110%;
    }

    .exibicao, footer {
        margin-left: 0;
    }

    footer {
        width: 100%;
    }

    .loja {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .plogotipo {
        width: fit-content;
    }

    .buttons li:nth-child(1):hover::after {
        display: none;
    }
    
    .buttons li:nth-child(2):hover::after {
        display: none;
    }
}

@media screen and (max-width: 950px) { 
    .entrada, .cadastramento{
        background-image: none;
        background-color: #f8f8f8;
    }

    .containerzinho {
        width: 70%;
        height: auto;
        border: 1px solid var(--bordas);
        box-shadow: none;
        margin: 5vh auto;
    }

    .formulario {
        width: 100%;
        margin: 30px auto;
    }

    .filtragem .avaliativo, .filtragem .pedidors {
        width: 24%;
    }

    .filtragem .fim {
        width: 100%;
        margin-right: 0;
    }

    .filtragem .final {
        width: 99%;
    }

    .btfiltro {
        margin-top: 10px;
    }
}

@media screen and (max-width: 810px) {
    .metrica {
        width: 49%;
        margin-bottom: 1%;
    }

    .atividade {
        width: 49%;
    }

    .atividades .fim {
        width: 49%;
        margin-right: 1%;
    }

    .mob {
        width: 50%;
        margin-right: 0;
    }

    .filtragem .avaliativo, .filtragem .pedidors {
        width: 49%;
    }

    .filtragem .fim {
        width: 100%;
    }

    .filtragem .final {
        width: 99%;
    }

    .avaliacao {
        width: 49%;
    }

    .endereco {
        display: block;
        width: 100%;
    }

    .log .tipo, .cobranca .tipo {
        background-color: transparent;
        color: #000;
        padding: 0;
        margin-bottom: 10px;
        font-size: 12pt;
        display: block;
    }

    .pagamento {
        display: block;
        float: none;
        margin: 5px 0;
    }
}

@media screen and (max-width: 650px) {  
    .containerzinho {
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 0;
    }

    .containerzinho p {
        width: 90%;
    }

    .formulario {
        width: 100%;
        margin: 30px 0;
    }

    .entradas, .botao, .recuperacao {
        width: 100%;
    }

    .atividade, .mob, .atividades .fim, .metrica {
        width: 100%;
        margin-bottom: 15px;
    }

    .tabelamento {
        overflow-x: scroll;
    }

    .tabela {
        width: 780px;
    }

    .filtragem .avaliativo, .filtragem .pedidors {
        width: 100%;
    }

    .filtragem .fim {
        width: 100%;
    }

    .filtragem .final {
        width: 100%;
    }

    .metrica h4 {
        margin-bottom: 30px;
    }

    .avaliacao {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .alerta {
        width: 100%;
        margin-bottom: 10px;
    }

    .btcontato {
        margin-left: 0;
    }

    .btentrega, .btconfirmar, .btimpressao {
        width: 100%;
    }

    .btimpressao svg{
        float: none;
    }

    .btimpressao {
        line-height: 0;
    }
}

@media screen and (max-width: 480px) {
    .situacao {
        display: none;
    }

    .sitmobile {
        display: inline;
    }
}

@media print {
    * {
        font-family: Arial, Verdana, sans-serif;
        float: none!important;
        border: none!important;
        background-color: #FFF!important;
        margin: 5px 0!important;
        padding: 0!important;
    }

    aside, footer, header, .btvoltar, .btconfirmar, .btimpressao, .btentrega, .btcontato, .dataTables_info, .dataTables_paginate, #tblitens .cabecalho th:nth-child(1), #tblitens td:nth-child(1){
        display: none!important;
    }

    .exibicao {
        margin-left: 0;
    }

    .log .tipo, .cobranca .tipo {
        width: 100%!important;
        display: block;
    }

    #tblitens .cabecalho th {
        margin: 0 10px!important;
    }

    #tblitens tr {
        padding: 20px 0!important;
    }

    #tblitens tr:last-child {
        display: none;
    }

    .pagamento {
        float: none;
        display: block;
        width: 100%;
    }
}