a {
    letter-spacing: -0.3px;
}

.cadastramento {
    background-image: url('../images/fundo-cadastro-parceiro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.container {
    min-height: 100vh;
}

.entrada {
    background-image: url('../images/fundo-petshop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.linkacao {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: var(--principal);
    text-align: center;
    font-size: 12pt;
}

.linkacao:hover, .recuperacao:hover {
    text-decoration: underline;
}

.containerzinho {
    background-color: #f9f9f9;
    width: 43%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #00000021;
}

.esquerda {
    margin: 7vh 2%;
}

.direita {
    margin: 7vh 55%;
}

.logo {
    text-align: center;
    float: none;
    margin: 0;
    padding-top: 10px;
}

.containerzinho h1{
    font-size: 20pt;
    font-weight: 800;
    margin-top: 20px;
    text-align: center;
}

.containerzinho p {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-size: 12pt;
}

.formulario {
    padding: 20px 0 30px 0;
}

.formulario fieldset:not(:first-of-type) {
    display: none;
}

.entradas {
    border: 1px solid #d4d4d4;
    background-color: #FFF;
    width: 90%;
    height: 50px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 7px;
    display: block;
}

.botao {
    border: 1px solid var(--principal);
    background-color: var(--principal);
    color: #FFFFFF;
    font-weight: 700;
    width: 90%;
    height: 50px;
    padding: 0 20px;
    margin: 30px auto;
    border-radius: 7px;
    font-size: 12pt;
    display: block;
    transition: background-color ease 0.2s;
}

.acao {
    text-align: center;
    display: block;
}

.botao:hover {
    background-color: var(--hover);
    border: 1px solid var(--hover);
}

.recuperacao {
    font-size: 12pt;
    text-align: right;
    text-decoration: none;
    display: block;
    width: calc(100% - 25px);
    color: var(--principal);
    font-weight: 600;
}

.termos {
    margin-top: 25px;
    width: 100%;
    display: block;
}

.termos p {
    width: 95%;
    font-size: 12pt;
    margin: auto;
}

.termos a {
    font-size: 12pt;
    text-decoration: none;
    color: var(--principal);
    font-weight: 600;
}

.termos a:hover {
    text-decoration: underline;
}

.forgot {
    margin: 15vh 55%;
}

header {
    width: 100%;
    height: 75px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--bordas);
}

aside {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    position: fixed;
    height: calc(100vh - 75px);
    border-right: 1px solid var(--bordas);
    overflow-y: scroll;
    scrollbar-width: 10px;
    scrollbar-color: #bdbdbd transparent;
}

aside::-webkit-scrollbar {
    width: 10px;
}
  
aside::-webkit-scrollbar-track {
    background: transparent;
}
  
aside::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 20px;
}

.dash {
    width: 100%;
    max-width: calc(100% - 50px);
    height: auto;
    margin: auto;
    overflow: hidden;    
}

footer .dash {
    border-top: 1px solid #cacaca;
}

footer {
    margin-left: 300px;
    width: calc(100% - 300px);
}

.plogotipo {
    float: left;
    font-family: 'Pacifico', cursive;
    margin-right: 25px;
    width: 275px;
}

.plogotipo a {
    font-size: 20pt;
    line-height: 75px;
    color: var(--principal);
    transition: color 0.2s ease 0s;
}

.dashboard {
    background-color: #f8f8f8;
    margin-left: 300px;
    min-height: calc(100vh - 75px);
}

.loja {
    width: calc(100% - 300px);
    height: auto;
    overflow: hidden;
}

.loja img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin: 12px 0;
    float: left;
    border: 1px solid #cacaca;
}

.txloja {
    width: fit-content;
    height: auto;
    overflow: hidden;
    margin: 16px 0 16px 15px;
    float: left;
}

.txloja h2 {
    font-size: 15pt;
    font-weight: 600;
}

.txloja p {
    font-size: 11pt;
    font-weight: 400;
    color: var(--texto-tertiario);
}

.situacao {
    width: fit-content;
    height: auto;
    overflow: hidden;
    line-height: 75px;
    float: right;
    margin-right: 20px;
}

.situacao select {
    border: 1px solid var(--bordas);
    padding: 0 20px;
    border-radius: 7px;
    width: auto;
    min-width: 120px;
    height: 42px;
    font-size: 11pt;
    font-weight: 600;
    appearance: none;
    min-width: 120px;
    background: url('../images/down.svg') no-repeat center right;
    background-position-x: calc(100% - 5px);
    cursor: pointer;
}

.buttons {
    float: right;
    display: block;
    list-style: none;
}

.buttons li {
    float: right;
    margin: 25px 10px;
}

.buttons svg {
    width: 25px;
    height: 25px;
}

.buttons svg path {
    fill: var(--principal);
}

.buttons button {
    background: none;
    border:none;
}

.buttons li::after {
    display: none;
    content: "";
    position: absolute;
    background-color: rgb(66, 66, 66);
    padding: 8px 12px;
    height: fit-content;
    overflow: hidden;
    line-height: 1;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 10pt;
    top: 75px;
}

.buttons li:nth-child(1):hover::after {
    content: "Sair";
    display: block;
}

.dpdown {
    padding: 15px;
}

.navbar {
    list-style: none;
    padding: 15px;
    margin: 5px 0;
}

.navbar li {
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 7px;
    margin: 5px 0;
    transition: background-color ease 0.2s;
}

.navbar li:hover {
    background-color: #e4e4e4;
    color: #000;
}

.navbar li a {
    width: 100%;
    display: block;
    font-size: 12pt;
    color: #505050;
    font-weight: 400;
}

.navbar li svg {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.navbar li svg path {
    fill: #505050;
}

.navbar .active {
    background-color: var(--principal);
}

.navbar .active:hover {
    background-color: var(--principal);
}

.navbar .active a {
    font-weight: 800;
    color: #FFF;
}

.navbar .active svg path {
    fill: #FFF;
}

.navbar h5 {
    padding: 22px 25px 5px 25px;
    font-size: 11pt;
    color: #505050;
    font-weight: 800;
}

@media screen and (max-width: 950px) { 
    .entrada, .cadastramento{
        background-image: none;
        background-color: #f8f8f8;
    }

    .containerzinho {
        width: 70%;
        height: auto;
        border: 1px solid var(--bordas);
        box-shadow: none;
        margin: 5vh auto;
    }

    .formulario {
        width: 100%;
        margin: 30px auto;
    }
}

@media screen and (max-width: 650px) {  
    .containerzinho {
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 0;
    }

    .containerzinho p {
        width: 90%;
    }

    .formulario {
        width: 100%;
        margin: 30px 0;
    }

    .entradas, .botao, .recuperacao {
        width: 100%;
    }
}