a {
    letter-spacing: -0.3px;
}

.cadastramento {
    background-image: url('../images/fundo-cadastro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.entrada {
    background-image: url('../images/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.cadastramento, .entrada {
    min-height: 100vh;
}

.linkacao {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: var(--principal);
    text-align: center;
    font-size: 12pt;
}

.linkacao:hover, .recuperacao:hover {
    text-decoration: underline;
}

.containerzinho {
    background-color: #f9f9f9;
    width: 43%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #00000021;
}

.esquerda {
    margin: 7vh 2%;
}

.direita {
    margin: 7vh 55%;
}

.forgot {
    margin: 15vh 55%;
}

.logo {
    text-align: center;
    float: none;
    margin: 0;
    padding-top: 10px;
}

.containerzinho h1{
    font-size: 20pt;
    font-weight: 800;
    margin-top: 20px;
    text-align: center;
}

.containerzinho p {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-size: 12pt;
}

.formulario {
    padding: 20px 0 30px 0;
}

.entradas {
    border: 1px solid #d4d4d4;
    background-color: #FFF;
    width: 90%;
    height: 50px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 7px;
    font-size: 12pt;
    font-weight: 400;
    display: block;
}

.botao {
    border: 1px solid var(--principal);
    background-color: var(--principal);
    color: #FFFFFF;
    font-weight: 700;
    width: 90%;
    height: 50px;
    padding: 0 20px;
    margin: 30px auto;
    border-radius: 7px;
    font-size: 12pt;
    display: block;
    transition: background-color ease 0.2s;
}

.botao:hover {
    background-color: var(--hover);
    border: 1px solid var(--hover);
}

.acao {
    text-align: center;
    display: block;
}

.recuperacao {
    font-size: 12pt;
    text-align: right;
    text-decoration: none;
    display: block;
    margin: auto;
    width: calc(100% - 45px);
    color: var(--principal);
    font-weight: 600;
}

.termos {
    margin-top: 25px;
    width: 100%;
    display: block;
}

.termos p {
    width: 95%;
    font-size: 12pt;
    margin: auto;
}

.termos a {
    font-size: 12pt;
    text-decoration: none;
    color: var(--principal);
    font-weight: 600;
}

.termos a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 950px) { 
    .entrada, .cadastramento{
        background-image: none;
        background-color: #f8f8f8;
    }

    .containerzinho {
        width: 70%;
        height: auto;
        border: 1px solid #cacaca;
        box-shadow: none;
        margin: 5vh auto;
    }

    .formulario {
        width: 100%;
        margin: 30px auto;
    }
}

@media screen and (max-width: 650px) {  
    .containerzinho {
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 0;
    }

    .containerzinho p {
        width: 90%;
    }

    .formulario {
        width: 100%;
        margin: 30px 0;
    }

    .entradas, .botao, .recuperacao {
        width: 100%;
    }
}