body {
    background-image: url('../images/fundo-entregador.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    min-height: 100vh;
}

.linkacao {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: var(--principal);
    text-align: center;
    font-size: 12pt;
}

.containerzinho {
    background-color: #f8f8f8;
    width: 42%;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #00000021;
}

.registro {
    min-height: 645px;
    max-height: 655px;
    margin: 7vh 2%;
}

.logon {
    min-height: 550px;
    max-height: 560px;
    margin: 7vh 55%;
}

.dados {
    min-height: 710px;
    max-height: 720px;
    margin: 7vh 2%;
}

.logo {
    text-align: center;
    float: none;
    margin: 0;
    padding-top: 20px;
}

.containerzinho h1{
    font-size: 20pt;
    font-weight: 800;
    margin-top: 20px;
    text-align: center;
}

.containerzinho p {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-size: 12pt;
}

.formulario {
    margin: 30px 0;
}

.entradas {
    border: 1px solid #d4d4d4;
    background-color: #FFF;
    width: 90%;
    padding: 15px 20px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 12pt;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
}

.botao {
    border: 1px solid var(--principal);
    background-color: var(--principal);
    color: #FFFFFF;
    font-weight: 700;
    width: calc(100% - 45px);
    padding: 15px 20px;
    margin: 30px auto;
    border-radius: 5px;
    font-size: 12pt;
    display: block;
    transition: background-color ease 0.2s;
}

.acao {
    text-align: center;
    display: block;
}

.botao:hover {
    background-color: var(--hover);
    border: 1px solid var(--hover);
    cursor: pointer;
}

.recuperacao {
    font-size: 12pt;
    text-align: right;
    text-decoration: none;
    display: block;
    width: calc(100% - 25px);
    color: var(--principal);
    font-weight: 600;
}

.termos {
    margin-top: 25px;
    width: 100%;
    display: block;
}

.termos p {
    width: 95%;
    font-size: 12pt;
    margin: auto;
}

.termos a {
    font-size: 12pt;
    text-decoration: none;
    color: var(--principal);
    font-weight: 600;
}

.corpo {
    background-image: none;
    background-color: #f8f8f8;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.caixa {
    display: none;
    width: 80%;
    height: auto;
    min-height: 60vh;
    overflow: hidden;
    margin: 20vh auto;
}

.aviso {
    display: none;
}

.aviso h1 {
    text-align: center;
    font-size: 28pt;
    line-height: 1.7;
}

.aviso p {
    text-align: center;
    font-size: 13pt;
    max-width: 50%;
    margin: auto;
}

.aviso a {
    text-align: center;
    margin: auto;
    display: block;
    background-color: var(--principal);
    width: fit-content;
    margin-top: 30px;
    padding: 12px 30px;
    border-radius: 5px;
    color: #FFF;
    font-size: 13pt;
    font-weight: 600;
    transition: background-color ease 0.2s;
}

.aviso a:hover {
    background-color: var(--hover);
}

.aviso img {
    width: 170px;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 0 auto 20px auto;
}

@media screen and (max-width: 950px) { 
    body, .cadastramento{
        background-image: none;
        background-color: #f8f8f8;
    }

    .containerzinho {
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .formulario {
        width: 75%;
        margin: 30px auto;
    }

    .containerzinho {
        min-height: unset;
        max-height: unset;
    }
}

@media screen and (max-width: 750px) {  
    .formulario {
        width: 100%;
        margin: 30px 0;
    }

    .entradas, .botao, .recuperacao {
        width: 100%;
    }

    .aviso p {
        max-width: 85%;
    }
}

/* Acima de 600px o site não exibe o conteúdo */
@media screen and (min-width: 600px) {
    .portal {
        display: none;
    }

    .aviso {
        display: block;
    }

    .caixa {
        display: block;
    }
}