a {
    letter-spacing: -0.3px;
}

body {
    background-image: url('../images/fundo-entregador.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.container {
    min-height: 100vh;
}

.linkacao {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: var(--principal);
    text-align: center;
    font-size: 12pt;
}

.linkacao:hover, .recuperacao:hover {
    text-decoration: underline;
}

.containerzinho {
    background-color: #f9f9f9;
    width: 43%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #00000021;
}

.esquerda {
    margin: 7vh 2%;
}

.direita {
    margin: 7vh 55%;
}

.logo {
    text-align: center;
    float: none;
    margin: 0;
    padding-top: 10px;
}

.containerzinho h1{
    font-size: 20pt;
    font-weight: 800;
    margin-top: 20px;
    text-align: center;
}

.containerzinho p {
    width: 80%;
    height: fit-content;
    margin: 10px auto;
    text-align: center;
    font-size: 12pt;
}

.formulario {
    padding: 20px 0 30px 0;
}

.formulario fieldset:not(:first-of-type) {
    display: none;
}

.entradas {
    border: 1px solid #d4d4d4;
    background-color: #FFF;
    width: 90%;
    height: 50px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 7px;
    display: block;
}

.botao {
    border: 1px solid var(--principal);
    background-color: var(--principal);
    color: #FFFFFF;
    font-weight: 700;
    width: 90%;
    height: 50px;
    padding: 0 20px;
    margin: 30px auto;
    border-radius: 7px;
    font-size: 12pt;
    display: block;
    transition: background-color ease 0.2s;
}


.acao {
    text-align: center;
    display: block;
}

.botao:hover {
    background-color: var(--hover);
    border: 1px solid var(--hover);
}

.recuperacao {
    font-size: 12pt;
    text-align: right;
    text-decoration: none;
    display: block;
    width: calc(100% - 25px);
    color: var(--principal);
    font-weight: 600;
}

.termos {
    margin-top: 25px;
    width: 100%;
    display: block;
}

.termos p {
    width: 95%;
    font-size: 12pt;
    margin: auto;
}

.termos a {
    font-size: 12pt;
    text-decoration: none;
    color: var(--principal);
    font-weight: 600;
}

.termos a:hover {
    text-decoration: underline;
}

.corpo {
    background-image: none;
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
    overflow: auto;
}

.caixa {
    display: none;
    width: 80%;
    height: auto;
    min-height: 60vh;
    overflow: hidden;
    margin: 12vh auto;
}

.aviso {
    display: none;
}

.aviso h1 {
    text-align: center;
    font-size: 28pt;
    line-height: 1.7;
}

.aviso p {
    text-align: center;
    font-size: 13pt;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.aviso a {
    text-align: center;
    margin: auto;
    display: block;
    background-color: var(--principal);
    width: fit-content;
    margin-top: 30px;
    padding: 12px 30px;
    border-radius: 7px;
    color: #FFF;
    font-size: 13pt;
    font-weight: 600;
    transition: background-color ease 0.2s;
}

.aviso a:hover {
    background-color: var(--hover);
}

.aviso img {
    width: 170px;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 0 auto 20px auto;
}

.logor {
    display: none;
    height: 100px;
    text-align: center;
    float: none;
    margin: 0 0 20px 0;
}

.mobnavs {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    position: fixed;
    margin: 0;
    background-color: #fff;
    bottom: 0;
    z-index: 0;
    box-shadow: #cdcdcd 0px 0px 10px;
}

.mobnav {
    width: 25%;
    height: auto;
    overflow: hidden;
    float: left;
    padding: 10px;
}

.mobnav svg {
    width: 25px;
    height: 28px;
    margin: auto;
    display: block;
}

.mobnav svg path {
    fill: var(--texto-secundario);
}

.mobnav p {
    text-align: center;
    margin: 3px;
    font-size: 10pt;
    font-weight: 600;
}

.bt .mobnav {
    width: 100%;
}

.mobnavs button {
    width: 25%;
    height: auto;
    overflow: hidden;
    float: left;
}

.portal header {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding: 0;
}

.portal header h1 {
    line-height: 70px;
    font-size: 15pt;
    font-weight: 800;
    float: left;
}

.portal .container {
    min-height: unset;
}

.saida {
    width: 24px;
    height: 24px;
    height: auto;
    overflow: hidden;
    float: right;
    padding-top: 20px;
}

.saida path {
    fill: var(--principal);
}

.forgot {
    margin: 15vh 55%;
}

.smb {
    margin-bottom: 0;
}

.cartoes {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.cartao {
    width: 48.5%;
    height: 100px;
    background-color: #FFF;
    border-radius: 8px;
    border: 1px solid var(--bordas);
    float: left;
    padding: 15px;
}

.cartao p {
    color: var(--texto-secundario);
    font-size: 10pt;
    margin-bottom: 15px;
}

.cartao h3 {
    font-size: 14pt;
    color: var(--texto-principal);
    font-weight: 600;
    width: fit-content;
}

.cartao button {
    float: right;
}

.cartao svg {
    width: 23px;
    height: 23px;
}

.cartao svg path {
    fill: var(--texto-secundario);
}

.escondido {
    display: none;
    background-color: #ededed;
    width: 80px;
    height: 20px;
    border-radius: 15px;
}

.dpnone {
    display: none;
}

.escondervalor {
    display: block;
}

.labelcheck {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid var(--bordas);
    padding: 20px;
    margin-bottom: 15px;
}

.labelcheck p {
    line-height: 30px;
    font-size: 11pt;
    font-weight: 600;
    float: left;
    width: fit-content;
}

.left {
    float: left;
}

.right {
    float: right;
}

.portal section h2 {
    font-size: 15pt;
    color: var(--texto-principal);
    font-weight: 600;
}

.historico {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 30px 0;
}

.historico ul {
    list-style: none;
    margin-top: 25px;
}

.historico ul li {
    padding: 15px 0px;
    border-bottom: 1px solid var(--bordas);
}

.historico ul li h3 {
    font-size: 13pt;
    width: fit-content;
    float: left;
    margin-bottom: 5px;
    color: var(--texto-secundario);
}

.historico ul li p {
    font-size: 11pt;
    width: fit-content;
}

.historico ul li .vlr {
    float: right;
    font-size: 13pt;
    font-weight: 800;
    color: var(--principal);
}

.historico ul li .km {
    color: var(--texto-tertiario);
}

.historico ul li:last-child {
    border-bottom: none;
}

.btvoltar {
    margin: 0 0 10px 0;
    font-size: 12pt;
    font-weight: 600;
    color: var(--texto-tertiario);
}

.btvoltar svg {
    float: left;
    margin-right: 7px;
}

.btvoltar svg path {
    fill: var(--texto-tertiario);
}

.rotas {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 30px 0;
}

.rotas ul {
    list-style: none;
}

.rotas ul li {
    padding: 15px;
    background-color: #FFFFFF;
    border: 1px solid var(--bordas);
    margin-bottom: 12px;
    border-radius: 10px;
}

.rotas ul li h3 {
    font-size: 13pt;
    width: fit-content;
    float: left;
    margin-bottom: 5px;
    color: var(--texto-secundario);
}

.rotas ul li p {
    font-size: 11pt;
    width: fit-content;
}

.rotas ul li .vlr {
    float: right;
    font-size: 13pt;
    font-weight: 800;
    color: var(--texto-principal);
}

.rotas ul li .km {
    color: var(--texto-tertiario);
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}

.btlink {
    letter-spacing: -0.3px;
    color: var(--principal);
    background-color: var(--secundaria);
    border-radius: 5px;
    font-weight: 600;
    font-size: 10.5pt;
    padding: 7px 12px;
    display: block;
    width: fit-content;
}

.inteiro {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.rotas .btlink {
    margin-top: 10px;
}

.enderecos {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.enderecos ul {
    list-style: none;
}

.enderecos ul li{
    padding: 15px 5px;
    border-bottom: 1px solid var(--bordas);
}

.enderecos ul li:last-child {
    border-bottom: none;
}

.ordenacao {
    float: right;
    font-size: 11pt;
    font-weight: 600;
}

.enderecos h3 {
    width: fit-content;
    float: left;
    font-size: 13pt;
}

.enderecos .btl {
    font-size: 11pt;
}

.enderecos p {
    color: var(--texto-secundario);
}

.baixinho {
    margin-bottom: 10px;
}

.minitem {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.minitem svg {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.minitem svg path {
    fill: var(--texto-tertiario);
}

.endereco {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.endereco p {
    text-align: center;
    font-size: 12pt;
}

.endereco a {
    font-size: 11pt;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 15px;
}

.mapa {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.mapa iframe {
    border: none;
    width: 100%;
    height: calc(100vh - 350px);
    overflow: hidden;
    border-top: 1px solid var(--bordas);
    border-bottom: 1px solid var(--bordas);
}

.lateral {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #faf9f9;
    position: fixed;
    right: -110%;
    top: 68px;
    max-width: 450px;
    border-left: 1px solid var(--bordas);
    z-index: 1;
    transition: ease all 0.3s;
    overflow: auto;  
    margin: 0;
}

.lateral .fechar {
    width: 100%;
    height: 60px;
    background-color: #f0f0f0;
    padding: 15px;
    border-bottom: 1px solid var(--bordas);
}

.lateral .fechar span {
    float: right;
    line-height: 30px;
    font-weight: 600;
    color: var(--texto-secundario);
}

.lateral .fechar button {
    float: left;
    border: none;
    background: none;
}

.lateral .fechar svg {
    width: 25px;
    height: 25px;
    margin-top: 3px;
}

.lateral .fechar svg path {
    fill: var(--texto-secundario);
}

.lateral .conteudo {
    padding: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.fundo {
    width: 100%;
    max-width: 450px;
    height: auto;
    overflow: hidden;
    background-color: #f7f7f7;
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: -110%;
    padding: 20px;
    transition: ease all 0.3s;
    border: 1px solid var(--bordas);
}

.poslateral {
    right: 0;
}


.introchat {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.introchat img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin: auto;
    display: block;
}

.introchat h2 {
    text-align: center;
    margin-top: 15px;
    font-size: 15pt;
    font-weight: 600;
}

.dias, .mensagens { 
    list-style: none;
}

.dia h6 {
    text-align: center;
    font-weight: 400;
    color: var(--texto-tertiario);
    font-size: 10pt;
}

.msgs {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.msloja, .msusuario {
    display: block;
    width: fit-content;
    height: auto;
    overflow: hidden;
    font-size: 10pt;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 50px;
}

.msusuario {
    max-width: 65%;
    text-align: left;
    background-color: var(--bordas);
    color: #000;
    margin: 5px auto 5px 0;
}

.msloja {
    max-width: 65%;
    text-align: left;
    background-color: var(--principal);
    color: #FFF;
    margin: 5px 0 5px auto;
}

.lateral .comfundo {
    margin-bottom: 125px;
}

.txtpass {
    width: calc(100% - 160px);
    float: left;
    margin: 0 auto 10px auto;
}

.btpass {
    width: 150px;
    margin: 0 auto 10px auto;
    float: right;
}

@media screen and (max-width: 950px) { 
    body, .cadastramento{
        background-image: none;
        background-color: #f8f8f8;
    }

    .containerzinho {
        width: 70%;
        height: auto;
        border: 1px solid var(--bordas);
        box-shadow: none;
        margin: 5vh auto;
    }

    .formulario {
        width: 100%;
        margin: 30px auto;
    }

    .txtpass, .btpass {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {  
    .containerzinho {
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 0;
    }

    .containerzinho p {
        width: 90%;
    }

    .formulario {
        width: 100%;
        margin: 30px 0;
    }

    .entradas, .botao, .recuperacao {
        width: 100%;
    }

    .entraf {
        margin: 0;
    }
}

/* Acima de 600px o site não exibe o conteúdo */
@media screen and (min-width: 600px) {
    .portal {
        display: none;
    }

    .aviso, .logor, .caixa {
        display: block;
    }
}